[2017-11-24 18:04] gpotter2 commented on #959
Fixed by https://github.com/secdev/scapy/pull/962

[2017-11-27 08:19] guedou commented on #959
The patch seems incomplete has it does not fix the AttributError.

[2017-11-27 11:55] chifflier commented on #959
Have you tested with or without the `cryptography` module ? After a pull + install, the error is still present here (without).

[2017-11-27 11:56] PGtips240 opened #964 "micropython"
Hello,

I would like to use scapy with micropython on an esp8266.
Has anyone done this and if so could you let me know how to install it.

Many Thanks.

[2017-11-27 19:19] gpotter2 commented on #959
Cannot reproduce :/

![image](https://user-images.githubusercontent.com/10530980/33284724-4c794a78-d3b0-11e7-9541-efb3af3518bf.png)

[2017-11-27 21:14] gpotter2 commented on #950
You're doing it the wrong way.

You should not be using a such class, which as several packet fields.

Instead, you should be using the `bind_layers` command, to link the layers together when certain conditions are met ( have a look at layers in the layers/ folder)

That way you will be able to select the type of a layer depending on  the previous one.

[2017-11-28 08:18] chifflier commented on #959
OK, so the problem is now triggered when creating the TLS ServerHello on top of IP/TCP.
Oneliner triggering the error:
[code]

Adding the real IP/TCP parameters (src,dst,etc.) does not change anything.
If you remove the `IP()/TCP()/` part, the example works fine.

[2017-11-28 17:07] gpotter2 commented on #959
What makes no sense is that you are trying to create a TLS layer without using any TLS encryption as you have not installed the encryption library.

Anyway, this should be fixed on the #966 PR :)

[2017-11-29 09:35] guedou commented on #964
I have no idea. If you have any success, please report it to us !

[2017-11-29 09:35] #964 closed

[2017-11-29 09:36] #950 closed

[2017-11-29 09:37] guedou commented on #950
I am closing this issue as @gpotter2 provided a correct answer.

[2017-11-29 09:39] guedou commented on #913
I am closing this issue as answers were provided.

[2017-11-29 09:39] #913 closed

[2017-11-29 09:53] guedou commented on #956
There is no easy solution but you can build on the following example:
[code]

[2017-11-29 09:53] #956 closed

[2017-11-29 13:47] Infinity95 commented on #950
I considered using separate layers but that only really works at the top level of the message structure.
It is possible to have infinite recursion in the message structure with for example the Variant datatype.

A Variant looks something like this (somewhat pseudocode):
[code]
This seemed to be solveable with the current scapy api (at least for me) by modeling each complex data type (like ByteStri

[2017-11-30 00:07] gpotter2 opened #967 "Travis: builds failing on new OSX distros"
I've asked why, here's the answer:

https://github.com/travis-ci/travis-ci/issues/8829

We need to add pip setup to the install.sh, or find another way of installing the packages

[2017-11-30 09:05] guedou commented on #967
The last answer indicates that an easy workaround is to change the ‘osx_image’. It could be a good short term fix.

[2017-11-30 09:30] lidllohntsich opened #969 "Question concerning VLAN sniffing handling?"
Are there any plans to support VLAN sniffing directly via scapy sniff()?

AFAIK normal sniff() does not show captured VLAN tags, as they are removed by
the linux kernel.

When i am using the following code within the scapy shell:
[code]
I got all packets including the 802.1Q tags.

Using the same code within a normal python shell does not work. No packets are captured.
Are there any hints how to m

[2017-11-30 12:44] guedou commented on #969
I am aware of this issue but I did not invest time to provide a patch. The Linux kernel strips the 802.1Q tag, and Scapy should manage to add it back. That what [libpcap does](https://github.com/the-tcpdump-group/libpcap/blob/8b65b39f26e93190e353e3b8d3178054e2d05af8/pcap-linux.c#L1918).

Python 2.7 does not provide a simple way to manipulate ancillary data, whereas Python 3 does. It might be trick

[2017-12-03 23:28] cothurn opened #974 "Very limited documentation as a Python module"
As the title says, it is hard to find documentation for Scapy as a library, i.e. what each class/function does and what argument(s) does it take. The current documentation site provides very limited information.

[2017-12-03 23:49] Syslog777 opened #975 "OSError: [Errno 5] Input/output error from scapy/sendrecv.py"
I'm getting the following error message:

`File "/scapy/scapy/sendrecv.py", line 257, in __gen_send     os.write(1,b'.')
OSError: [Errno 5] Input/output error`

It seems that `os.write(1,b'.')` is causing an I/O error. I do not know how it is being triggered.
What I do notice is that is does not follow the repository guidelines as follows:

[2017-12-04 08:13] guedou commented on #975
Could you provide a more specific description of your issue (small example, Scapy version, ...) ? We cannot fix what we cannot reproduce ...

[2017-12-04 08:23] guedou commented on #974
While Scapy documentation has never been its best feature, your message is far from being helpful!

Instead of opening an issue, please consider contributing to the project by sending a pull-request that address your needs. We will do our best to review it quickly to improve the project.

[2017-12-04 09:48] #974 closed

[2017-12-05 09:42] BitCoder444 commented on #975
I finally found the bug: it was on my end.
At the top of my file I wrote a shebang to define the interpreter I wanted to use. I thought I could use Python 3.6, so I wrote `#!/usr/bin/python3.5`. That is what caused the bug. I simply changed it to `#/usr/bin/python3.5`.
If you haven't indicated that scapy runs on python3.5, please do so. It makes a huge difference for some of us.

[2017-12-05 12:02] guedou commented on #975
Python 3 support is still in development. However, all Python 3 versions should work.

Could you report a minimal example that triggered the crash ?

[2017-12-06 08:38] BlackByte010 commented on #975
[code]

[2017-12-07 20:28] guedou commented on #967
#970 provided a temporary fix. A long term one must be implemented as described in the previously link travis issue.

[2017-12-07 21:06] guedou commented on #975
I cannot reproduce with the current master and Python3.6.

[code]

Could you provide more details about your environment?

[2017-12-07 22:42] Syslog777 commented on #975
I have python2.7, 3, 3.5 and 3.6 installed.       Scapy is not on my $PATH variable, so I had to append it to the PYTHONPATH var. I'm running on a 64-bit machine and linuxlite. I'm also using my phone as a hotspot because I have no WiFi here.

[2017-12-08 14:28] guedou commented on #975
Can you reproduce the issue using my small example ? Also, I need the Scapy and Python version that you are using.

I will close this issue if you don't provide these information as I cannot reproduce it.

[2017-12-08 14:29] #959 closed

[2017-12-08 20:15] Syslog777 commented on #975
Scapy Version 2.3.3.dev919
Python version 3.5.4
I was not able to reproduce the issue with your code.

[2017-12-10 19:42] guedou commented on #975
I can't reproduce your issues despite my efforts on different operating system. It might be caused by your setup.

You can reopen this issue if you manage to provide a simple reproducer.

[2017-12-10 19:42] #975 closed

[2017-12-11 10:27] ilqxejraha commented on #651
pip install git+https://github.com/secdev/scapy

[2017-12-11 10:39] ilqxejraha commented on #407
Don't run scapy program in IDLE editor.

[2017-12-11 11:48] koorij opened #976 "Question: is it possible to generate Ethernet Pause frames"
Hi,

Is it possible to generate ethernet pause frames using this tool.

in that case, can you please share some sample code for the same.

Regards,
Saravanankoori J

[2017-12-11 18:28] gpotter2 commented on #407
As an update: this thread is outdated. Current scapy dev version has dropped pyreadline to ipython

[2017-12-12 04:33] puru1761 opened #977 "struct error for large Dot11 packet: struct.error: ubyte format requires 0 <= number <= 255"
I have written a python program to transmit data of approximately 950 bytes in the RSNinfo field of a scapy Dot11 type 2 packet (data). It is also a beacon. I am doing this for experimental purposes, sorry. When i try to send it through sendp, I get the following traceback:

Traceback (most recent call last):
File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
self.run()
File "/r

[2017-12-12 06:26] guedou commented on #977
Could you provide a more specific description of your issue (small example, Scapy version, Pythin version, OS version, ...) ? We cannot fix what we cannot reproduce ...

[2017-12-12 09:56] andysouthwell2 commented on #502
Hi,

Seeing the same issue here with python 2.7.2.5 on Windows 7 with scapy 2.3.3. The following reproduces the issue for me, in the interactive python console (just typing scapy at the command-line) :-

(shows me that src has the value 'fe80::200::1', which is illegal)
and then

generates an exception in pton_ntop.py line 40, "Illegal syntax for IP address")

[2017-12-12 10:56] andysouthwell2 commented on #502
I have now confirmed the bug is in your inet_ntop(), but I don't know where yet. This reproduces the issue:

a=inet_pton(socket.AF_INET6, 'fe80::ff:0:0:1')
print(inet_ntop(socket.AF_INET6, a))

[2017-12-12 11:24] andysouthwell2 commented on #502
The problem is the way that inet_ntop strips trailing zeros and reduces array elements down into groups of colons. Unfortunately it fails to ensure that it doesn't end up with multiple double-colon occurrences. The best solution would be to determine the position and length of the longest range of zeros beforehand, and only replace those.

[2017-12-12 15:12] andysouthwell2 opened #978 "inet_pton is broken for IPv6 when more than one run of zeros exists"
See comments I've left in (closed) issue 502. I presume I need to open a new ticket given that one is closed now, for it to get noticed?

a=inet_pton(socket.AF_INET6, 'fe80::ff:0:0:1')
print(inet_ntop(socket.AF_INET6, a))

This prints fe80::ff::1 which is invalid.

The problem is the way that inet_ntop strips trailing zeros and reduces array elements down into groups of colons. Unfortunately it fa

[2017-12-12 15:12] andysouthwell2 commented on #502
New ticket 978 opened for this issue (given this one is now closed), and patch provided.

[2017-12-12 15:14] lidllohntsich opened #979 "Question to TFTP Handling"
Scapy is not able to dissect a TFTP pcap trace, whereas Wireshark can decode it.

A normal TFTP session starts with a TFTP_RRQ sent to port 69 of the TFTP server. (A TFTP server always listens on port 69). The TFTP server assigns a new port for the sessions and answers with a TFTP_DATA back to the client. The rest of the sessions is handled via this new server port.

Looking now at /scapy/layers/t

[2017-12-12 17:07] gpotter2 commented on #978
Please check that you are using the latest **dev** version: https://github.com/secdev/scapy/archive/master.zip
I cannot reproduce (on windows 10):
![image](https://user-images.githubusercontent.com/10530980/33897994-4d8f3aae-df67-11e7-855d-3364dc33a885.png)

[2017-12-12 17:11] gpotter2 commented on #979
`bind_layers(UDP, TFTP)` would mean that all layers following a UDP layer are TFTP ones.
This is definatly not the wanted behavior.

Sometimes, when scapy does not know which layer to use, it looks at the port, which in many cases is very significant. If your server is using custom implementations, ports or whatever, those ports will obviously change.

This is why it's intended that users add them

[2017-12-13 08:25] andysouthwell2 commented on #978
Hi, you are right - I've tried that and it works fine. Must have been fixed already then (I was using 2.3.3 that came with our Python 2.7.x install). ok - thanks for having a look. :)

Marking as closed.

Best Regards
Andy

[2017-12-13 08:25] #978 closed

[2017-12-13 08:43] andysouthwell2 opened #981 "Wireshark() - TypeError: argument of type 'NoneType' is not iterable"
(using latest dev-master under Windows 7).

It transpires that this is because (unlike the older 2.3.3 version I was previously using that shipped with our Python 2.7.x), it requires conf.prog.wireshark to be set to the path of the Wireshark exe.

Well, that's fair enough, but I feel scapy ought to be checking it's not None and throwing a more helpful error message please. Once I fixed that, wires

[2017-12-13 08:47] andysouthwell2 opened #982 "Colour escape code messiness with show()"
(using latest dev-master)

This used to work fine with the previous scapy I used, 2.3.3. I'm using Windows 7, standard console (I do not have Windows 10 available to check that). If I create a packet and then do show(), I get this:

![image](https://user-images.githubusercontent.com/21983603/33929674-3a1f375a-dfe2-11e7-91d8-4c53f7848265.png)

[2017-12-13 09:24] tejashkasundra opened #983 "Authentication failing with ESP"
Hi,
I want to generate encrypted packets using ESP. I tried using ESP, packet is getting encrypted but somehow authentication is failing so packet getting malformed. Can anyone please help me to get this done?
My code looks like as below,

b = IP(src="192.168.9.141",dst="172.17.30.113",flags=0x00)/TCP(dport=12,sport=1025)/Raw('testdata') b = IP(bytes(b))
sa = SecurityAssociation(ESP, spi = 0xdeadb

[2017-12-13 12:54] zyrikby opened #984 "Add possibility to escape from sniff() function"
Currently, there is no possibility to escape from sniff() function. This is sometimes required if you run this function is a separate process and check externally if you need to finish this process.

It would be great to add something like this to the sniff() method https://github.com/secdev/scapy/blob/master/scapy/sendrecv.py:

[code]

[2017-12-13 18:09] gpotter2 commented on #981
To be precise, on windows wireshark will be auto-detected if you have added its folder to your PATH var :)

[2017-12-13 18:10] gpotter2 commented on #982
Please check that IPython is correctly installed.
Does scapy shows any error/warning while booting ?

[2017-12-14 03:12] dark-lbp opened #986 "Got ASN1_Error when using RandASN1Object"
Scapy Version: 2.3.3.dev929
System: OSX 10.13.1
Python Version: 2.7.13

When using RandASN1Object, sometime it's raise ASN1_Error.
This code can reappear that problem.
[code]

[2017-12-14 08:30] dark-lbp opened #988 "BERcodec_STRING With RandString cause length incorrect"
Scapy Version: 2.3.3.dev929
System: OSX 10.13.1
Python Version: 2.7.13

Using RandString with ASN1_STRING will cause length enc incorrect.
This code can reappear that problem.

[code]

When BERcodec_STRING input should be string but got RandString instance.
len(s) and raw(s) in BERcodec_STRING will trigger RandString._fix() twice and got two different string.

A simple fix may look like this.
[cod

[2017-12-14 08:41] andysouthwell2 commented on #982
Here's what I see - and ipython seems to be present (I can run it)

![image](https://user-images.githubusercontent.com/21983603/33982980-67b4bdd4-e0aa-11e7-9ab7-56fce5cb99a6.png)

[2017-12-14 08:44] andysouthwell2 commented on #981
OK, good to know - thanks. Still, a more helpful message would be an improvement I think.

[2017-12-15 22:49] HenningCash opened #989 "Stop sniff() asynchronously"
Hi there,
we are using scapy to built something similar to tcpdump.
The capturing process runs in its own thread:

[code]

Basically we have a flag that is set externally from the main thread if the capturing process should stop. This works as long as a package is received after the stop flag is set. But if there is no package the thread (`recv()`) hangs until the next package is received and the

[2017-12-16 13:22] gpotter2 commented on #989
This is actually quite easy to do, using the `stop_filter` function:

![image](https://user-images.githubusercontent.com/10530980/34070793-81b4a366-e26c-11e7-9eb8-8d2961dc042a.png)

[2017-12-16 13:23] gpotter2 commented on #984
@p-l- Duplicated https://github.com/secdev/scapy/issues/989

[2017-12-16 16:43] #984 closed

[2017-12-18 04:05] bharathgrid opened #994 "IPv6 routes are not imported into conf.rout6 if the destination is not in same subnet as interface address"
Scapy Version: 2.3.3
System: Fedora 15
Python Version: 2.7.1

Issue: Some of the IPv6 routes added in linux are not imported into conf.route6 file if the destination is not in same subnet as any of the interface IPv6 addresses

Ex:
[root@admin]# ip -6 route
64:ff9b::/32 via 2001:abcd::1 dev eth0  metric 1024
1001:abcd::/32 via 2001:abcd::2 dev eth0  metric 1024
2001:abcd::707:707 dev eth0  proto k

[2017-12-18 06:47] guedou commented on #994
Please try to reproduce this issue with the current github version.

[2017-12-18 13:16] HenningCash commented on #989
Your example works, if there is a packet. As the documentation says `stop_filter` is a "Python function applied **to each packet**". If there is no packet (e.g. if you use a very restrictive filter and/or there is very little traffic) the process/thread will wait and exit only after the next captured packet when `stop_filter` is applied.

[code]

<img width="717" alt="bildschirmfoto 2017-12-18 um

[2017-12-18 17:35] gpotter2 commented on #989
Well we could add the `stop_event` check when every packet is recieved, but this would actually slow down scapy :/
Would this be a proper option to you ?

[2017-12-18 17:46] guedou commented on #989
I will suggest that you build your own packet capture logic using Scapy SuperSocket and select, such as:
[code]

[2017-12-19 03:13] q2dg commented on #657
Hello.
If I write in shell: python2 scapy, it's all right.
If I write in shell: python3 scapy, I get this error:

Traceback (most recent call last):
  File "/usr/bin/scapy", line 23, in <module>
    from scapy.main import interact
ModuleNotFoundError: No module named 'scapy'

I've installed scapy from official repositories of Fedora 27 and its main file is located in /usr/bin
Thanks

[2017-12-19 04:58] bharathgrid commented on #994
Hi guedou,

Thanks for looking into the issue. On further debugging I found that the routes are not added because the destination IP addresses used in this case doesn't fall under Global unicast (2000::/3) or local (fc00::/7)  address space.

Since my testbed topology is local I was using addresses without considering the RFC specifications.

Closing the thread as it is not a valid issue.

Thanks

[2017-12-19 04:58] #994 closed

[2017-12-19 05:58] gpotter2 commented on #657
@q2dg Please note that there has been no new release since python 3 support: you need to use the github version by downloading this repo over https://github.com/secdev/scapy/archive/master.zip
Then use
ˋpython3 setup.py install`

[2017-12-19 07:48] guedou commented on #983
Can you be more specific and give us the Scapy version, Python version, python-cryptography version and the OS that you are using ?

[2017-12-19 07:51] guedou commented on #953
Closing due to to reply.

[2017-12-19 07:51] #953 closed

[2017-12-19 07:53] guedou commented on #925
Can we close this issue ? It seems that it was fixed with #927

[2017-12-19 08:15] HenningCash commented on #989
@guedou that looks promising. I will give it a try within the next week.

Do you think its worth the effort implementing this as new feature for scapy? Passing in a threading.Event and checking for isSet() should be simple

[2017-12-19 09:27] q2dg commented on #657
@gpotter2 Oooh, thanks a lot! Doing like you say its works well! Sorry for the inconvenience.
(Maybe pointing this simple trick in README.md could be a good idea)

[2017-12-19 09:29] tejashkasundra commented on #983
Please find below information,
Python 2.7
Scapy - 2.3.1

From above example, when I try to use crypt_key = 0xced36ca65aaaedb2e9a7e73b4aa9039e although it is valid key for AES-CBC, scapy gives error as below,
TypeError: invalid key size 34, must be (16, 24, 32)

Let me know for any other query.

[2017-12-19 09:29] tejashkasundra commented on #983
Using OS Ubuntu

[2017-12-19 10:51] guedou commented on #983
Did you try writing the key on another format ? The error message is quite explicit: your key is 2 bytes too long ...

[2017-12-19 10:53] guedou commented on #989
That way too complicated. I think that adding a callback that is triggered when select and its friends do not return file descriptors is the way to go.

[2017-12-19 10:56] exploide commented on #983
The examples you gave show a very inconsistent usage of the keys. In your opening post you say `crypt_key = 'ced36ca65aaaedb2e9a7e73b4aa9039e'` (without 0x prefix) but then `auth_key = '0xb50b05e64f46c4fb86eeab81590623c65b2913dd'` (with 0x prefix) and finally in your subsequent post `crypt_key = 0xced36ca65aaaedb2e9a7e73b4aa9039e` (without quotation marks, passing an integer).

Maybe the error com

[2017-12-19 14:53] guedou commented on #989
Feel free to reopen if needed.

[2017-12-19 14:53] #989 closed

[2017-12-19 14:53] #983 closed

[2017-12-19 20:30] rgom commented on #925
Generally, this problem seems to be fixed and the issue can be closed.
Remaining issues (if any) will be presumably reported separately.

Thanks,
Robert

[2017-12-19 21:42] #925 closed

[2017-12-20 13:37] guedou commented on #986
Fixed in #997

[2017-12-20 13:37] #986 closed

[2017-12-20 15:22] gpotter2 commented on #982
as said in the headline: `trailets not available. Some Scapy shell features won't be available`.
`trailets` is provided automatically with newer versions of IPython

[2017-12-21 02:50] wirelessice commented on #977
from scapy.all import Dot11,Dot11Beacon,Dot11Elt,RadioTap,sendp,hexdump

netSSID = '''AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

[2017-12-21 06:59] taoxinyi opened #999 "Losing packets in win10 even using L2ListenTcpdump"
I use WinDump, but some packets are missing when windump drops nothing.

    windump.exe: listening on \Device\NPF_{8B70E329-3331-4F62-A25F-34045B1AFC33}
    7975 packets captured
    12513 packets received by filter
    0 packets dropped by kernel
    <Sniffed: TCP:7939 UDP:0 ICMP:0 Other:0>

In this example, WinDump captures all while scapy actually loses some.

[2017-12-21 16:58] gpotter2 commented on #999
Yes you can,

You just need to install the windump version matching with your (win/n)pcap version.

It also requires windump.exe to be in the PATH.

[2017-12-21 17:19] moham96 opened #1000 "Decode TaZmen Sniffer Protocol packets"
Hi,
Is it possible to add tzsp decoder to strip the encapsulation and get and parse the encapsulated layers?

[2017-12-21 17:43] #999 closed

[2017-12-21 17:44] guedou commented on #982
@gpotter2 could you add the minimal IPython version requirement in `doc/installation.rst` ?

[2017-12-21 17:45] guedou commented on #1000
Yes, you can implement it as a contribution and submit a pull request.

[2017-12-21 18:30] guedou commented on #977
By definition, it is not possible to store more than 255 bytes in a `Dot11Elt` :
[code]

[2017-12-21 18:30] #977 closed

[2017-12-21 19:30] HenningCash commented on #989
The suggested custom implementation with SuperSocket worked perfectly fine, thank you!

[2017-12-22 01:18] taoxinyi commented on #999
Yes, this is my previous question that I edited. My question now is that scapy actually lose packets using Windump. Windump captures 7975 packets while scapy returns only 7939.

[2017-12-22 09:40] guedou commented on #999
I replied on gitter.

Please don't harass us on different mediums and keep in mind that is an issue tracker not a forum! You are wasting our time.

[2017-12-22 09:58] taoxinyi commented on #999
@guedou  Sorry, I previously thought that others on gitter may have solutions.

[2017-12-22 11:54] guedou commented on #827
Fixed with #844

[2017-12-22 11:54] #827 closed

[2017-12-22 11:59] guedou opened #1001 "[ci] Import error with Travis on osx"
Issue found will investigating and fixing #827  .

In this build https://travis-ci.org/secdev/scapy/jobs/320169025, it looks like Scapy is not configured correctly. The output of `python -c "from scapy.all import *; print conf"` is:
[code]

[2017-12-22 14:05] avonar commented on #1001
can you give more info? what system do you use?
This commit was merged `abe5cc9`, so i tried to checkout and install scapy, i have ubuntu and i dont have your problem.

[2017-12-22 14:12] guedou commented on #1001
I wrote and merged the commit that your are referring =)

As the title states, it is an OS X issue related to Travis. I guess that it can be reproduced with
`SCAPY_USE_PCAPDNET=yes python -c "from scapy.all import *; print conf"`

[2017-12-22 14:23] avonar commented on #1001
[code]

[2017-12-22 14:42] avonar commented on #969
@lidllohntsich wireshark can not see this tag too :)
if you really need to sniff only qinq _now_ try to this way https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networking_guide/sec-configure_802_1q_vlan_tagging_using_the_command_line maybe it will helpful for you.

[2017-12-23 18:45] speakinghedge commented on #1000
:santa: :gift: :beer:

[2017-12-26 10:22] moham96 commented on #1000
@speakinghedge Thank you very much for your work:)
I just have one question why does it work in python2 and not in python3?

[2017-12-26 14:47] p-l- commented on #982
@gpotter2 @guedou Maybe we should switch `conf.color_theme` to `BlackAndWhite()` (under Windows only? it seems to work fine under Linux) when `traitlets` is not available?

@andysouthwell2 could you upgrade iPython and report if it fixes your problem?

[2017-12-26 16:55] guedou commented on #982
If this works, I think that it is a safe default. We only need to add test for this corner case and mock the absence of `trailtets`.

[2017-12-26 19:46] speakinghedge commented on #1000
Na. I have a strong affinity to that kind of protocol (out of my history)  - it was more or less a natural reflex.

What does not work? And plz check my latest commits (esp. 0d63eda) - I guess the way I prepared some dicts created some FUD.

[2017-12-26 22:45] gpotter2 commented on #982
I’m actually wondering if traitlets reallly fixes IPython, or if it’s just a too old version... waiting for @andysouthwell2 answer :)
Will test that in a week

[2017-12-27 10:56] andysouthwell2 commented on #982
Sorry, can't test this until the NY as it's on a work laptop, but will look as soon as I can

[2017-12-28 12:05] Esser420 commented on #841
I don't think this is a bug.

Isn't it more correct to use `a.send(IP())` in this case?

[2017-12-28 12:16] 0x69676f72 commented on #244
C:\WINDOWS\system32>pip install scapy
Collecting scapy
  Using cached scapy-2.3.3.tgz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\IGORMO~1\AppData\Local\Temp\pip-build-5nl5rwcy\scapy\setup.py", line 36
        os.chmod(fname, 0755)
                           ^
    SyntaxError: inva

[2017-12-28 12:16] 0x69676f72 commented on #244
[code]

[2017-12-28 13:44] gpotter2 commented on #244
Hi, please retry using the online github version

https://github.com/secdev/scapy/archive/master.zip

Then install it
`python setup.py install`

[2017-12-28 14:14] moham96 commented on #1000
@speakinghedge I used your latest commits and still the code works in python2 but not in python3, in python2 the packets gets decoded and new layers are created from the TZSP packets while it python3 the packets don't get decoded and they stay as raw UDP packet

[2017-12-28 14:43] speakinghedge commented on #1000
I'm busy right now - will be able to work on this now+6h.

can you provide some sample data (e.g. small pcap)?

[2017-12-28 15:01] moham96 commented on #1000
@speakinghedge Sure, here is a small pcap from my mikrotik router

[sample.pcap.zip](https://github.com/secdev/scapy/files/1591424/sample.pcap.zip)

[2017-12-28 18:31] speakinghedge commented on #1000
thanks for the sample.
should be fixed with b3938ad - plz confirm.

[2017-12-29 02:38] nicephil opened #1013 "socket.error: [Errno 99] Protocol not available on openwrt mips router"
# Bug Description
when I run the following example code on mips router, get the error as below

[code]
Error log:

[code]

the error indicate the setsockopt(SOL_SOCKET, SO_ATTACH_FILTER, bpfh) gets problem.
I found SOL_SOCKET definition is different from linux header's. looks scapy only condiers x86 platform, but not all.

grep the linux macro definition as below:

[code]

but scapy/arch/linux.py

[2017-12-29 05:29] moham96 commented on #1000
@speakinghedge Yes, it works on python 3.6.3. Thanks

[2017-12-29 11:13] gpotter2 commented on #1013
Hi !
On some systems, SOL_SOCKET is missing from `socket`.
Would https://github.com/secdev/scapy/pull/1014 fix it for you ?

[2017-12-29 12:00] Non808 opened #1015 "Scapy_Exception: No /dev/bpf handle is available !"
(First day on Github (mainly to leave this comment) so not totally sure of the etiquette sorry)

I am trying to send an icmp thing with a message attached after watching [this](https://www.youtube.com/watch?v=K-V478AsQWg) YouTube tutorial (cause I thought it would be fun).

So downloaded scapy ran it followed the video to the letter at first it worked fine, but I had some (unrelated) issue capturi

[2017-12-29 12:25] gpotter2 commented on #1015
Hi !
It seems that you are using an old scapy version :/
Please download the latest dev version from here: https://github.com/secdev/scapy/archive/master.zip
then unzip it and install it with `python setup.py install`
This should fix the bug you're having

[2017-12-29 21:24] Non808 commented on #1015
Thanks for you help @gpotter2, I downloaded the zip, unzipped it ran the command (in the correct place - that one took me way too long to figure out), got a `Permissions` error.
Then I ran `sudo python setup.py install` then I got a `Operation Not Permitted` error (because I run mac which is more paranoid than Marvin from *Red*).
So I look around on google and find [this post](https://github.com/c

[2017-12-29 22:03] gpotter2 commented on #1015
I’m really sorry that you had to go through all of this.

We have a patch for this bug, which has not beeen released yet. Please wait for https://github.com/secdev/scapy/pull/861 to be finished and merged, then that kind of problems will be done.

We’re actually finishing Python 3 porting on this build, which means some functions are temporarily broken. It should be working soon

[2017-12-29 22:05] gpotter2 commented on #1015
In the meantime, you can still use the scapy version you have downloaded with Python 2.7 (Python not python3) where all of this is currently working

[2017-12-30 03:28] nicephil commented on #1013
it works. thanks.

[2017-12-30 03:28] #1013 closed

[2017-12-30 06:30] littleguyy opened #1017 "why? AttributeError: 'NoneType' object has no attribute 'encode'"
# I use pythone32 3.6.3 on windows7 64bit
import socket
from scapy.all import *
i=IP()
i.dst="192.168.1.1"
i.display()

ic=ICMP()
ic.display()

reply=sr1(i/ic)
========================= RESTART: I:/scapy网络练习.py =========================
WARNING: No route found for IPv6 destination :: (no default route?). This affects only IPv6
###[ IP ]###
  version   = 4
  ihl       = None
  tos       = 0x0
  len

[2017-12-30 12:46] gpotter2 commented on #1017
Hi,
Please download the latest dev version at https://github.com/secdev/scapy/archive/master.zip
Then install it via `python setup.py install`

[2018-01-02 10:12] andysouthwell2 commented on #982
Hi,

ok, I have have a look now. It's actually proving very difficult to update iPython because of local policies (managing of tool versions and installations across multiple internal teams). We are using Python 2.7.2.5, which includes iPython 2.3.1, and that's not going to change fast. I have attempted to make use of a newer iPython (3.2.3) but our Python 2.7.2.5 didn't seem to like that (setup-t

[2018-01-02 14:15] gpotter2 commented on #982
@andysouthwell2 I know IPython use the `colorama` library to setup the coloured interface. If you are able to call `import colorama; colorama.init()` before starting scapy it will certainly fix the issue.

If it works, we may also implement that directly in scapy... What do you think @p-l-

[2018-01-03 09:29] andysouthwell2 commented on #982
@gpotter2 Thanks a lot - that's extremely helpful! That certainly works inasmuch as it fixes the colour issue. I haven't tried this extensively but basic tests seem to work (see screenshot).

Strangely however, I notice there's something odd going on in the [] brackets after the @@In prompt (see the red-coloured circles in the image). Seems very minor but I can't say for sure if there are further

[2018-01-03 13:09] gpotter2 commented on #982
@andysouthwell2 Would it be possible for you to install `traitlets` ? On my Windows machine, using IPython 2.3.1, it works after having installed it.

Scapy actually does not even try to setup colors when `traitlets` is not available. It is useally provided directly by newer IPython versions, but it might work if you install it manualy. If you're able to install it, the `colorama` trick should not

[2018-01-03 14:08] andysouthwell2 commented on #982
Hi, thanks for those suggestions but no-go I'm afraid. After doing pip install traitlets, I now have traitlets-4.3.2 but now I get this when running scapy:

Traceback (most recent call last):
  File "C:\u-blox\gallery\activestate\python\win\2.7.2.5\Scripts\\scapy", line 25, in <module>
    interact()
  File "c:\Users\andy\Downloads\scapy-master\scapy-master\scapy\main.py", line 524, in interact

[2018-01-03 15:19] gpotter2 commented on #982
The error you are having is fixed in #1020 !
This is a nice start

[2018-01-03 15:42] andysouthwell2 commented on #982
ok, that's cool - but sadly I don't see how to pull that fix. All I can see is the master branch (which I have done a git pull on), that hasn't been updated for 11 days. It looks like you've added the fix to a personal branch but I am unsure how to reference that and pull it (I have tried but in vain). I am not a regular github user, and not git either for that matter. Sorry - I don't want to burd

[2018-01-03 16:13] gpotter2 commented on #982
You should be able to download it in https://codeload.github.com/gpotter2/scapy/zip/ipython-old

[2018-01-03 21:50] grzegorzsn commented on #969
@guedou
I found that module:
https://github.com/floodlight/oftest/blob/master/src/python/oftest/afpacket.py

I managed to write my own simple sniff function, which has access to vlan tags.
It done it in following way:
`

	def mysniff(...):
		buf = recv(sock, 65535)
		enable_auxdata(sock)
		while True:
			sock = socket(AF_PACKET, SOCK_RAW)
			sock.bind((iface, ETH_P_ALL))
			buf = recv(sock, 65535)

[2018-01-04 10:17] guedou commented on #969
Thanks !

[2018-01-05 17:55] william-r-dieter opened #1021 "Fields after payload"
Does Scapy have a way to have fields after the payload?  For example, Ethernet and 802.11 have an FCS field with a CRC of the whole frame.

I am capturing in monitor mode with a NIC that gives the FCS of received packets in the 802.11 headers and I want to be able to check the FCS.  Wireshark tells me that about 10% of the packets have bad FCS, and I would like to handle frames with bad FCS differ

[2018-01-06 17:13] irl commented on #657
Would you consider making even a beta or RC release? If you can do this, I'll make an upload to Debian experimental with a package to make this available for testing.

[2018-01-06 17:41] guedou commented on #657
We will make an RC as soon as we have merge #861. It fixes some remaining issues, and enables automatic Travis tests.

[2018-01-07 16:19] p-l- commented on #1021
Hi,

I don't really think so, at least for now. Could you share a capture file so that I can have a look? Attach it publicly if that's an option for you, if not you can drop me an e-mail.

[2018-01-07 16:55] p-l- commented on #969
@grzegorzsn I suppose you have another part of the code effectively adding the 802.1q tag that you don't show here?

[2018-01-08 08:12] grzegorzsn commented on #969
@p-l- The magic takes place in module I linked.
recv and enable_auxdata are imported from afpacket.py.
The module is responsible for tag reconstruction.

I added import line to my example to make it clearer.

[2018-01-08 18:00] william-r-dieter commented on #1021
Attached is a short pcap with just five packets.  You can find the FCS in wireshark in the 802.11 packet.

I can work around not having the FCS in the 802.11 layer, by calculating it manually, for example:

    cap = rdpcap('short-seq.pcapng.gz')
    # Extract the FCS for each frame
    fcs = [struct.unpack("<L", bytes(p[Dot11].payload)[-4:])[0] for p in cap]
    # Compute the FCS over each frame

[2018-01-09 09:00] guedou commented on #724
Closing this issue how Scapy is involved.

[2018-01-09 09:00] #724 closed

[2018-01-09 09:02] guedou commented on #864
Closing this issue as it is not clear how it is related to Scapy.

[2018-01-09 09:02] #864 closed

[2018-01-09 09:08] #870 closed

[2018-01-09 09:28] #1017 closed

[2018-01-09 12:31] johnthagen commented on #657
#861 has landed! 🎆

[2018-01-09 14:00] irl commented on #657
If there can be an RC release, I'm currently releasing the next version of PATHspider (irl/pathspider#188) and can test this against that. There is then only one other Debian package with a dependency on python3-scapy and then there should be a clear path to having python3-scapy switch upstream back to this repository.

[2018-01-09 14:09] p-l- commented on #657
@irl I think @guedou planned a release for tomorrow morning.

[2018-01-09 14:10] irl commented on #657
Hm ok, do you see any significant changes happening between now and then? I can do my PATHspider testing with a local Debian package based on the current master perhaps?

[2018-01-09 14:29] p-l- commented on #657
I don't think so. Maybe #1024 could land in the meantime since it increases coverage and it's a tiny patch. Also, if @gpotter2 makes a PR to add Windows x86_64 tests. Anyway nothing that would impact the API.

[2018-01-09 14:37] irl commented on #657
Cool, thanks.

[2018-01-10 05:52] stryngs commented on #724
Yes, I agree that this is a Monitor Mode issue; I believe I might have a solution so as to patch scapy and not have to deal with the double frames, but I'll deal with that as it comes.  Either way, good feedback on this Issue!

[2018-01-10 05:54] stryngs commented on #1021
I agree with @william-r-dieter that something should be done about the way FCS is handled for frames.  There is a way I've been manually doing it, but it would be nice if it was a built-in per se.

[2018-01-10 05:55] stryngs commented on #976
@koorij Do you have an example PCAP?  If so, I will help you to reverse it and do it via Scapy.

[2018-01-10 06:00] stryngs commented on #841
If I'm correct, and I very well could be wrong; the original idea behind opening and closing a socket for each send or sendp was very intentional.  I myself was interested in this a while back and came across the following:
https://byt3bl33d3r.github.io/mad-max-scapy-improving-scapys-packet-sending-performance.html

I used his idea when it came to sendp() and there were some issues I cannot rememb

[2018-01-10 06:25] stryngs opened #1026 "Finish the two basic IPv4 address checks in pton_ntop.py - #399"
I'm opening this issue to help out with #399

I will try to do my best with it. It seems like a pretty easy concept; verify the object can only be ipv4.  Tons of ways to do this; re would seem the proper path.

Thoughts?

[2018-01-10 07:21] p-l- commented on #1026
You probably don't want to use `re` here. The easiest way is probably to count (`len()`) the number of elements in `part`, then use `enumerate()` in the `for` statement and then you can check if you're processing the last part.

[2018-01-10 08:38] guedou commented on #841
If someone feels like adding speed tricks to Scapy documentation, there are some useful  ideas in this gist: https://gist.github.com/guedou/d053b7bde0bc2fd79236

[2018-01-10 09:34] karpierz opened #1028 "Improper condition for scapy/arch/indows/_init__.py/NetworkInterfaceDict.load_from_powershell()"
Scapy Version: v2.3.3-1008
System: Windows10
Python Version: 2.7.14

File: scapy/arch/indows/\_\_init\_\_.py  Line:647

There is:
    if _detect[0] and not _detect[2] and (not hasattr(self, "restarted_adapter") or self.restarted_adapter):
I suppose that should be:
    if _detect[0] and not _detect[2] and (not hasattr(self, "restarted_adapter") or not self.restarted_adapter):

Thanks,
Adam Karpierz

[2018-01-10 10:46] guedou commented on #657
I just tagged 2.4-rc1, see https://github.com/secdev/scapy/releases

We need to merge some more PR before v2.4.0 but this will happen in the next weeks.

[2018-01-10 11:04] andysouthwell2 commented on #982
Hi, no luck I'm afraid. Thanks for the zip, which I've tried. Now, when I try to pip install traitlets, I just get a bunch of "requirement already satisfied" warnings (traitlets already exists in my python 2.7.2.5). When I run scapy, I still see the original error (colour escape codes printed out to screen)

[2018-01-10 12:04] irl commented on #657
Ok, from my testing this is looking good for the requirements of PATHspider. I've not tested dhcpcanon yet though. I've opened phaethon/scapy#231 to look at making this co-installable and a proof of concept patch was working, until I messed it up and broke the patch which will need to be rewritten.

* python3-scapy will be renamed to python3-scapy3k (using package name of "scapy3k" for import)
* t

[2018-01-10 12:16] karpierz opened #1029 "Problems while importing scapy on some environments (e.g. Eclipse, some peculiarly configured Windows boxes etc.)"
Scapy Version: v2.3.3-1008
System: Windows10
Python Version: 2.7.14

File: scapy/\_\_init\_\_.py

There are a problems of using master/scapy  on some environments  like e.g. Eclipse, some peculiarly configured Windows - mostly old - boxes etc.)
When scapy is started/imported and git is installed, some console windows appears while _version() is performed.
Also this issue has impact on decrease of

[2018-01-10 12:20] karpierz commented on #1029
`--- C:\AK\scapy-master\scapy\__init__.py	2017-11-09 12:48:00.127430400 +0100
+++ C:\AK\scapy-master-AK\scapy\__init__.py	2017-11-10 12:39:57.307207300 +0100
@@ -61,17 +61,17 @@
 def _version():
     version_file = os.path.join(_SCAPY_PKG_DIR, 'VERSION')
     try:
-        tag = _version_from_git_describe()
-        # successfully read the tag from git, write it in VERSION for
-        # installat

[2018-01-10 13:09] guedou opened #1030 "Scapy 2.4.0"
A v2.4 [release candidate](https://github.com/secdev/scapy/releases) was tagged this morning. The goal is to make a v2.4.0 by the end of the month. In the meantime, other `rc` will be released depending on the reported issues.

[2018-01-10 13:26] #982 closed

[2018-01-10 14:01] #1001 closed

[2018-01-10 14:20] p-l- commented on #1030
If you have issues or PR that you think should be reviewed before 2.4.0 is released, please comment here.

[2018-01-10 14:41] karpierz commented on #1030
For my/our purposes are worth and important:
[1028](https://github.com/secdev/scapy/issues/1028)
[1029](https://github.com/secdev/scapy/issues/1029)
PS: those fixes allows to avoid our local patched repo of master/scapy and use official release by the pip.
It will greatly simplify our scapy installation and maintenance.

Thanks,
Adam Karpierz

[2018-01-10 15:15] guedou commented on #1030
@karpierz could you make pull requests? Thanks.

[2018-01-10 15:45] karpierz commented on #1030
Hmm.. It is a  problem because I am not familiar with github at all :( Sorry.
I promise that I will stay "github expert" with ev. next more important/wider changes ;).
Could you please at this moment exceptionally include fixes from those issues "by hand"?

Thanks,
Adam Karpierz

[2018-01-10 16:06] gpotter2 commented on #1028
Indeed ! Thanks a lot for reporting

[2018-01-10 16:57] gpotter2 commented on #1028
Should be fixed in https://github.com/secdev/scapy/pull/1032

[2018-01-10 16:59] johnthagen commented on #657
@guedou Will you wait until v2.4.0 before making a PyPI release or were you also planning to release a "-dev" release onto PyPI?

[2018-01-10 17:24] guedou commented on #657
I did not manage to do it today. I will try to make one tomorrow.

[2018-01-10 17:30] william-r-dieter commented on #1021
Right now, fields always get added to the end of the header.  An API that would be nice would be to add an optional location arg to the Field constructor (and all its children).  The argument  would take a location parameter to say whether the field should be added to the head or the tail of the packet.  It would default to `head` when not present, so existing code would not change.

For example:

[2018-01-10 22:29] guedou commented on #657
@johnthagen please try `pip install --pre scapy` that will install the latest `rc` (currently rc2).

[2018-01-11 00:13] johnthagen commented on #657
@guedou I installed 2.4rc2 into a Python 3.6 virtual environment, played around making a couple sample packets, and everything worked! 🥇

[2018-01-11 06:20] #1028 closed

[2018-01-11 09:03] p-l- commented on #1030
We can now use the [Release 2.4](../projects/1) project to track this.

[2018-01-11 11:49] JeongJuhyeon opened #1034 "WARNING: Error building scapy IPv4 routing table : invalid literal for int() with base 10: ''"
OS: Windows 10 LTSB

Scapy version: Tried both Scapy 2.4rc2 and whatever the version is from /scapy/archive/master.zip, get the same error.

When launching scapy, the warning "WARNING: Error building scapy IPv4 routing table : invalid literal for int() with base 10:" comes up. Also, using

`t=IP()`
`t.src`
gives
`WARNING: No route found (no default route?)
'0.0.0.0'`

[2018-01-11 12:56] karpierz opened #1035 "Scapy 2.4rcX on Windows does not work when PoweShell is off (or not found)."
Scapy Version: 2.4rc2-9
System: Windows10
Python Version: 2.7.14

File: scapy/arch/windows/\_\_init\_\_.py

ImportError appears when scapy is used with disabled PoweShell (conf.prog.powershell is None or exe does not exist).
The reason is that _PowershellManager() constructor expects a real exe path in conf.prog.powershell var
but receives None.

Patch below:

[code]
PS: I've checked an impact for

[2018-01-11 13:18] p-l- commented on #657
@irl I've tested [dhcpcanon](/juga0/dhcpcanon) which works fine (which is normal since it uses Scapy for Python 2 already).

[2018-01-11 13:41] karpierz commented on #1030
..also [1035](https://github.com/secdev/scapy/issues/1035) is IMHO important and should be included in v.2.4

[2018-01-11 14:58] p-l- commented on #1030
I remove issues as they are added to the project.

[2018-01-11 16:16] #791 closed

[2018-01-11 18:01] gpotter2 commented on #1034
Hi !
Could you please start a powershell, run
`Get-NetRoute -AddressFamily IPV4 | select ifIndex, DestinationPrefix, NextHop, RouteMetric, InterfaceMetric | fl`
and report the content ?
That would help us understanding the bug. Thanks a lot !!

[2018-01-11 18:14] JeongJuhyeon commented on #1034
Sure!
	ifIndex           : 5
	DestinationPrefix : 255.255.255.255/32
	NextHop           : 0.0.0.0
	RouteMetric       : 256
	InterfaceMetric   :

	ifIndex           : 18
	DestinationPrefix : 255.255.255.255/32
	NextHop           : 0.0.0.0
	RouteMetric       : 256
	InterfaceMetric   :

	ifIndex           : 23
	DestinationPrefix : 255.255.255.255/32
	NextHop           : 0.0.0.0
	RouteMetric       : 2

[2018-01-11 18:26] gpotter2 commented on #1035
Hi ! Should be fixed in #1036, thanks for reporting. On my machine it fixes the bug.

Could you try using https://codeload.github.com/gpotter2/scapy/zip/win-nops ?
Thanks a lot !

[2018-01-11 18:27] gpotter2 commented on #1034
As you can see, you're not getting any data for `InterfaceMetric`. This means that you are using an old version of powershell, but still, scapy should not be failing.

[2018-01-11 19:58] gpotter2 commented on #1034
Thanks a lot for reporting !
Should be fixed in https://github.com/secdev/scapy/pull/1037
You can try it with this zip:
https://codeload.github.com/gpotter2/scapy/zip/win-metrics-fix

[2018-01-12 03:31] JeongJuhyeon commented on #1034
With the new version, the warning has changed to

    WARNING: Error building scapy IPv4 routing table : 'NoneType' object has no attribute 'group'

And

    t = IP()
    t.src

still gives the same

    WARNING: No route found (no default route?)
    '0.0.0.0'

[2018-01-12 06:53] gpotter2 commented on #1034
Working on it...

[2018-01-12 07:06] p-l- commented on #1029
It is normal that reading the version from git has precedence over reading from the static file, since reading from git will actually write the static file. So if we applied your patch, we would have git create the VERSION file on the first run, and that file would never get updated.

The best solution if you think it slows down running or importing Scapy on your setup is to install Scapy and run

[2018-01-12 07:06] #1029 closed

[2018-01-12 07:09] #1035 closed

[2018-01-12 09:23] karpierz commented on #1029
I understand . I suppose that only one/first create of VERSION is a correct way.

My/our problem (unexpected lauching of git, git bash console window appearing) exist because of
condition in _version_from_git_describe() does not works as expected on my boxes (old Windows?, old buggy Python 2.7.8 where '/' path separator is not treated in the same way as '\\'? nevermind...)

Simple fix below fully

[2018-01-12 09:43] karpierz opened #1039 "Problems while importing scapy on some environments (e.g. Eclipse, some peculiarly configured Windows boxes etc.)"
Scapy Version: v2.3.3-1008
System: Windows10
Python Version: 2.7.14

Updated (closed) issue: [#1029](https://github.com/secdev/scapy/issues/1029l)

File: scapy/\_\_init\_\_.py

There are a problems of using master/scapy  on some environments  like e.g. Eclipse, some peculiarly configured Windows - mostly old - boxes etc.)
When scapy is started/imported and git is installed, some console windows ap

[2018-01-12 09:46] karpierz commented on #1030
Please add also [#1039](https://github.com/secdev/scapy/issues/1039) - (updated #1029)

[2018-01-12 09:50] p-l- commented on #1039
You're right. We should never use hard-coded `/` as path separator anyway. Thanks!

[2018-01-12 14:41] #1034 closed

[2018-01-12 18:43] haozheng10 opened #1044 "support rfc 4448 encapsulating Ethernet frame in MPLS"
I have a patch I'd like to submit for review, which adds support for 4448 encapsulating Ethernet frame in MPLS with optional control word.
Please let me know how to proceed.

Thanks,

Hao

[2018-01-12 22:02] p-l- commented on #1021
OK thanks for the clarification.

[2018-01-12 22:09] p-l- commented on #1044
Hi,

Thanks! Just create a pull-request and submit it for review.

[2018-01-12 22:09] #1044 closed

[2018-01-12 23:10] gpotter2 opened #1045 "SEND contrib module not working"
Has not been updated in a while though.
Started some fixes in https://github.com/gpotter2/scapy/commit/833ec54799cc4bea621d07738964ae54b13cbd4a
to fix tons of bugs (commit make the module works), but it seems that I wrongly read the RFC: wireshark's printing errors on that.

The module needs a full rework + tests

[2018-01-12 23:30] haozheng10 opened #1046 "no permission to fork"
I want to contribute a patch, but I can't fork, it says no permission.  Can someone give me the permission to fork, or is there a way to create a pull request without a fork?

Thanks,

Hao

[2018-01-12 23:31] haozheng10 commented on #1044
it seems that I don't have the permission to fork the repo.  Can you give me the permission?

[2018-01-12 23:31] p-l- commented on #1046
You don't need a specific permission to fork this repository.

[2018-01-12 23:31] #1046 closed

[2018-01-12 23:32] p-l- commented on #1044
You don't need a permission to fork this repository.

[2018-01-13 09:43] #988 closed

[2018-01-13 14:51] guedou opened #1048 "Update notebooks"
Some notebooks still use `str()`: replace these calls with `raw()`.

[2018-01-13 15:54] guedou commented on #1048
I am working on it.

[2018-01-13 17:32] #1039 closed

[2018-01-13 19:42] guedou opened #1049 "Fix incorrect str() calls"
Some calls to `str()` look incorrect (see for example `git grep ' str(' scapy/layers/tls/`). We might want to fix that before releasing v2.4.0.

[2018-01-13 20:14] gpotter2 commented on #1049
Actually TLS module is currently broken (automaton tests are disabled)

We need to work this out before releasing scapy

[2018-01-15 14:03] guedou opened #1052 "traceroute6(): wrong order with Python"
With Python3, routers addresses are displayed in the wrong order (likely an alphabetic one):

In [66]: traceroute6("www.free.fr", minttl=8, maxttl=12)
Begin emission:
............Finished to send 5 packets.
***.*.....
Received 22 packets, got 4 answers, remaining 1 packets
   2a01:0e0c:0001:0000:0000:0000:0000:0001   :tcphttp
10 2001:7f8:1::a501:2322:1                    3
11 2a01:e04:3::5

[2018-01-15 15:13] p-l- commented on #1052
I'll have a look, same for IPv4 traceroute results actually.

[2018-01-15 15:21] p-l- commented on #1052
PR on its way, I'm writing a test.

[2018-01-15 17:21] guedou commented on #1052
Wow! I guess that the fastest patch of a bug discovered during an IPv6 workshop with Scapy =)

[2018-01-15 17:41] p-l- commented on #979
Please reopen if @gpotter2's comment are not enough.

[2018-01-15 17:41] #979 closed

[2018-01-15 19:44] gpotter2 opened #1056 "Travis CI tests are extremly slow"
They sometimes take 1-2 days to complete...
We may want to remove some of the OSX builds, which are very very slow to start

[2018-01-16 13:40] guedou commented on #1056
@p-l- pointed out that there is a huge macOS build backlog due to issues earlier this week. It seems to be recovering but we might suffer from it during few more days: https://www.traviscistatus.com/

In the mean time, we decided to exceptionally merge PR with macOS tests that did not finish.

[2018-01-16 13:40] #1056 closed

[2018-01-16 13:42] #1052 closed

[2018-01-16 15:13] #1048 closed

[2018-01-16 17:41] vasiqmz commented on #916
@asmeureanu Can you share the code for parsing the CFlow packets via Scapy. I'm having some issues in decoding the flows packet.
Awaiting for your reply.

[2018-01-17 10:00] vasiqmz opened #1060 "Cannot decode the flows of NetflowV9 in scapy"
I'm using scapy to iterated through the Netflow packets and extract the content from the flows in each packets.
I wrote the following code in scapy but I'm unable to get the flows, it shows the data in RAW format.

`
n1 = NetflowHeader(packt[0][UDP].payload)
Gives the below output

<NetflowHeaderV9  count=10 sysUptime=613895520 unixSecs=Thu, 19 Oct 2017 10:46:45 +0000 (1508410005) packageSequence=

[2018-01-17 14:35] maeln opened #1062 "Scapy doesn't acknowledge a DHCP Offer."
I am sending a basic DHCP discover using Scapy with:
[code]

When sniffing with wireshark, I correctly see the DHCP Offer (see the attached pcap file: [dhcp.pcap.zip](https://github.com/secdev/scapy/files/1639336/dhcp.pcap.zip)) returned by the DHCP server, but I never receive any answer in Scapy.

I made sure nothing was using the port 68 and 67 using `ss -lnu`, I don't have a dhclient running on

[2018-01-17 15:05] vano144 commented on #1015
macOs High Sierra 10.13.2 (17C88)
I still have this exception, after sudo pip3 install git+https://github.com/secdev/scapy:

[code]

[2018-01-17 15:27] gpotter2 commented on #1060
Hi !
Netflowv9 format is currently not working on the master branch.
I’ve made a PR to fix it https://github.com/secdev/scapy/pull/917 but as we are working on Python 3 support, this is low priority.

You can use the code provided in this PR to decode Netflowv9.
The process is then the following:
- capture packets/load them from a pcap
- call `netflowv9_defragment(plist)`

This is required because

[2018-01-17 16:15] gpotter2 commented on #1015
@guedou Could you have a look ?

[2018-01-17 16:35] guedou commented on #1015
Issue confirmed.

[2018-01-17 16:39] guedou commented on #1015
@vano144 could you try PR #1064 ?

[2018-01-17 17:14] vano144 commented on #1015
@guedou, yes it fixes problem, thanks

[2018-01-18 08:35] guedou opened #1071 "Activate Python 3 / OSX builds in Travis"
We must perform Python3 builds in Travis before releasing v2.4.0. Issue #1015 could have been catch with these tests.

It seems that we need to install Python3 ourselves.  The corresponding PR must also fix #967

[2018-01-18 10:00] maeln commented on #1062
I continue investigating the bug and I found that the problem is happening in the file sendrecv.py in the function _sndrcv_rcv. The problem is that, when the function try to compare the hashret of the receive packet to the hashret of the sent packet, the hashret of the received one change:

[code]
So there is something funky going on.

[2018-01-18 10:21] maeln commented on #1062
I found that the problem was caused because the hashret of the offer is different than the one of the discover:

[code]

I am trying to figure out why.

[2018-01-18 10:46] #1062 closed

[2018-01-18 12:09] vasiqmz commented on #1060
Thank you for the reply, Here's what I did since your PR wasn't in the Master merge as you said. I downloaded your netflow.py file and used it to run the code.

But it doesn't work in my case, I'm having Netflow packets with the template ID of 256
The code crashes with an exception in
`if len(current_ftl.records) < 0 or (not hasattr(current_ftl.records[0], "fieldValue")):`

I'll debug the code to

[2018-01-18 17:41] gpotter2 commented on #1060
Hi !

Could you provide a pcap file (in a zip so github can can handle it) ?

I could then try to debug that to see what’s going on

Thanks !

[2018-01-18 22:55] InvictusParadox opened #1073 "Beacon Frame Timestamp Not Showing in PCAP"
When sniffing Beacons (Dot11Beacon) generated by scapy using Wireshark, or any other wireless packet capture tool, the timestamp (In Wireshark, IEEE 802.11 wireless LAN -> Fixed Parameters -> Timestamp) is all zeros or empty. In my Python, I do have, for example, `Dot11Beacon(cap='ESS+privacy', timestamp=time.time())` No matter what I put in the timestamp field, whether a static or dynamic value (

[2018-01-19 23:07] p-l- commented on #1049
Should be OK now. Please reopen if needed.

[2018-01-19 23:07] #1049 closed

[2018-01-20 09:15] guedou commented on #1071
The backlog is still quite big: ˜2000 jobs in the queue. I will work on the fix when it will ne slower.

[2018-01-20 11:15] guedou commented on #1073
Can you share the whole Scapy packet that your are injecting as well as the corresponding pcap ?

[2018-01-20 23:23] gpotter2 opened #1076 ".coveragerc ignored"
Since we migrated the tests to Python 3, `.coveragerc` is ignored. This explains why the coverage has lowered.
I guess it's because we don't start codecov from the same folder than before.

PS: `.coveragerc` needs to be fixed: a tab is used instead of 4 spaces

[2018-01-21 04:58] InvictusParadox commented on #1073
Attached is a zip file with the python script and the pcap file. Thanks!

[Beacon.zip](https://github.com/secdev/scapy/files/1649540/Beacon.zip)

Here's a link to just download the PCAP.
[PCAP](https://drive.google.com/open?id=1NmbyEh2itdHjsMz8h2QtxQqHb_LcvGcV)

In case you don't want to open the zip file, here is the Python code I am using.

`from scapy.all import *
import string
import random
im

[2018-01-21 07:54] vasiqmz commented on #1060
Hi !

Sorry for the late reply.
It turns out, the code has no issues the PCAP, I believe was corrupted.
As I tried the code on a new PCAP and it works fine.

Thank you,
Vasiqullah

[2018-01-21 08:05] vasiqmz commented on #1060
Hi !
The decode works fine except for few fields, it doesn't decode the value, instead it gives the binary values back ...
Do I need to make another function call to decode the rest of the fields. Like if you see the output below after calling `netflowv9_defragment`

                  |###[ Netflow DataFlowset Record V9 ]###
                  |  LAST_SWITCHED= b'X\x19\xbb\xb4'
                  |

[2018-01-21 10:31] guedou commented on #1073
Could you provide a minimal example that trigger your issue (aka a Scapy one liner)? Thanks.

[2018-01-21 10:50] guedou commented on #1076
I noticed it too while looking at codecov. We will see how #1077 goes.

[2018-01-21 11:43] gpotter2 commented on #1060
Hi !
I've updated https://github.com/secdev/scapy/pull/917 to decode more fields.

A very few won't be decoded, because their size are un-predictable, and will be returned as bytes. If those fields are the one you wanted to use, please tell me and I'll try to make them beeing decoded as well.

Thanks a lot for submitting !

[2018-01-21 12:03] gpotter2 commented on #1030
Hi !
I would have liked https://github.com/secdev/scapy/pull/917 to be added to 2.4.0.
Current NetflowV9 implementation is not working, and it would be ashame to get it packed in 2.4.0. Also fixes #916 and #1060.

[2018-01-21 12:16] guedou commented on #1071
Testing Python3 without fixing the version can be done with `homebrew`. If we want to install a specific version, the best approach is to use `pyenv`. Both ways will require tests.

[2018-01-21 13:07] karpierz opened #1078 "Trifle (Windows only): unnecessary doubled .strip()"
Scapy version: v2.4.0rc3-31
System: Windows10
Python Version: 2.7.14

[code]

Thanks,
Adam Karpierz

[2018-01-21 13:09] karpierz commented on #1030
Trifle: [#1078](https://github.com/secdev/scapy/issues/1078)

[2018-01-21 13:57] JeongJuhyeon opened #1079 "Error building scapy IPv4 routing table : 'NoneType' object has no attribute 'group'"
Posting because the previous thread with the previous error message got closed. If I'm not supposed to do that, apologies!

Environment: Windows 10 x64, Scapy 2.4.0 RC3 (or any other recent version), Npcap 0.98. Tried many things such as the (new in Win10?) "Network Reset", updating adapter drivers and so on, none of which have made a difference.

Running 'netsh interface ipv4 show address' in Pow

[2018-01-21 15:03] p-l- commented on #1030
@gpotter2 implementing this properly would require a stateful implementation of `PacketList()`. I'm working on it but I'd rather do this after 2.4.0 release.

[2018-01-21 15:07] p-l- commented on #1078
@karpierz Thanks! You should read Github documentation about creating pull requests, that's not so hard!

[2018-01-21 15:07] gpotter2 commented on #1030
@p-l- I get it. But because 2.4.0 is going to be used way more than the dev version, in the meantime, it would be good to get something that works. We can implement the stateful `PacketList()` later (I'll be happy  to help with that).

At least #917 works, using `netflowv9_defragment`.

[2018-01-21 15:22] gpotter2 commented on #1079
Hi !

Could you return the content of the following commands:

- 1
[code]
- 2
[code]
- 3
[code]
- 4
[code]

Thanks !

[2018-01-21 15:54] JeongJuhyeon commented on #1079
Sure!

- 1

	'C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe'

- 2
	AttributeError                            Traceback (most recent call last)
	<ipython-input-2-24a729b385b4> in <module>()
	----> 1 from scapy.arch.windows import _get_metrics; _get_metrics()

	C:\Python27\lib\site-packages\scapy\arch\windows\__init__.pyc in _get_metrics(ipv6)
		859         if len(_buffer) == 32:  #

[2018-01-21 16:08] gpotter2 commented on #1079
Note that the full command is
`netsh interface ipv4 show interfaces level=verbose`
Could you return its content ?

Thanks

[2018-01-21 16:26] JeongJuhyeon commented on #1079
Here it is:

While this probably has nothing to do with it, just in case: I noticed that the first line when running get_metrics was

`C:\Python27\lib\site-packages\scapy\arch\windows\__init__.pyc in _get_metrics(**ipv6**)`

while my error is with ipv4. Probably nothing but just in case!

[2018-01-21 16:40] JeongJuhyeon commented on #1079
I tried this:

`>>> query_cmd = "netsh interface ipv4 show interfaces level=verbose"

'netsh interface ipv4show interfaces level=verbose'

[]

[]

[]`

[2018-01-21 16:59] gpotter2 commented on #1079
Think i got the bug.

[2018-01-21 17:12] gpotter2 commented on #1079
Could you check that https://github.com/secdev/scapy/pull/1081 fixes the bug ?

[2018-01-21 17:26] JeongJuhyeon commented on #1079
Seems like it's fixed!!

    {'1': 75, '11': 35, '13': 25, '19': 25, '21': 35, '5': 65, '6': 5, '7': 55}

Thanks a lot :)

[2018-01-21 17:39] vasiqmz commented on #1060
Hi !
Did you modify the `netflow.py` and `fields.py` because I used your updated code and I still see the data returned in bytes, just like the last one.
Did i miss something?

[2018-01-21 17:54] gpotter2 commented on #1060
With the latest version of the branch, i get stuff like
[code]
You can try after having installed this version of scapy: https://github.com/gpotter2/scapy/archive/fix-netflowv9.zip

[2018-01-21 18:04] InvictusParadox commented on #1073
Here is a good one liner that also replicates the issue:

`sendp(RadioTap()/
          Dot11(addr1="ff:ff:ff:ff:ff:ff",
                addr2="44:48:c1:d1:e1:f1",/
          Dot11Beacon(cap="ESS", timestamp=100)/
          Dot11Elt(ID="SSID", info='SSID100')/
          iface="wlan2mon", loop=1)`

Here is a minimal Python script as well:

`from scapy.all import *
add1 = 'ff:ff:ff:ff:ff:ff'
add2 = '

[2018-01-21 18:38] #1078 closed

[2018-01-21 20:28] #1079 closed

[2018-01-21 21:08] guedou commented on #1076
We need to investigate this one.

[2018-01-21 21:11] guedou commented on #1073
The built frame looks ok:
[code]

[2018-01-22 00:51] InvictusParadox commented on #1073
I agree, but the actual transmitted packet (or received) packet does not contain the timestamp information. Try it yourself. Have one interface transmit while another interface (on another machine or the same machine) sniffs the packet. You should see a zeroed out timestamp.

[2018-01-22 07:21] guedou commented on #1073
This shows that Scapy generates the correct frame and that it could be an issue with your setup, that I cannot use myself.

You can for example write the frame to a PCAP, replay it with airplay-ng, then check the timestamp value.

[2018-01-23 17:24] jonesrick opened #1083 "on-the-wire packet length lost"
[scapyd.pcap.gz](https://github.com/secdev/scapy/files/1656955/scapyd.pcap.gz)

[orig.pcap.gz](https://github.com/secdev/scapy/files/1656954/orig.pcap.gz)
If one reads-in a pcap and then writes it out again, the on-the-wire packet length field of the per-packet pcap header gets set to the snaplen.  This causes issues with other utilities which sanity check packet headers against the on-the-wire le

[2018-01-23 20:56] bartex80 opened #1084 "DNSRR issue"
I am testing newest scapy with python3 and I've found a problem with DNSRR packet:

[code]
[code]

[2018-01-23 21:53] guedou opened #1086 "Support coverage in UTscapy"
Code coverage should be directly embedded in UTscapy, see https://coverage.readthedocs.io/en/coverage-4.4.2/api.html#api. This will help removing the weird Python interpreter trick in `.travis/test.sh`.

[2018-01-23 22:28] InvictusParadox commented on #1073
I found the issue. For what it's worth, this may help some others out too.

It appears that the rt2800usb driver that Linux uses for the Alfa (and probably most other) Wi-Fi cards removes, zeroes out, etc the timestamp value when transmitted. I don't know why/how it does that. This was tested on a Ubuntu 17.10, Ubuntu 16.04, and Kali 2017.3 system.

I was able to use the on-board Wi-Fi on a Raspbe

[2018-01-23 22:35] Nostrademous opened #1087 "NTP issubclass bug"
`Traceback (most recent call last):

  File "pcap_proc.py", line 9, in <module>

    sessions = a.sessions()

  File "/usr/local/lib/python2.7/site-packages/scapy/plist.py", line 503, in sessions

    sess = session_extractor(self._elt2pkt(p))

  File "/usr/local/lib/python2.7/site-packages/scapy/plist.py", line 488, in session_extractor

    if 'TCP' in p:

  File "/usr/local/lib/python2.7/site-p

[2018-01-24 07:03] guedou commented on #1087
Please repopen if you can submit a meaningful way to reproduce your issue.

[2018-01-24 07:03] #1087 closed

[2018-01-24 07:04] guedou commented on #1084
Confirmed.

[2018-01-24 07:25] guedou commented on #1084
Here is a smaller case triggering this issue:
`raw(DNSRR(type='A', rdata='1.2.3.4'))`

[2018-01-24 08:42] guedou commented on #1073
Thanks for this report. You could add a note in Scapy documentation. That will be really useful.

[2018-01-24 10:17] guedou commented on #1084
Does #1089 fix your issue ?

[2018-01-24 12:24] bartex80 commented on #1084
Yes, #1089 fixes my issue. Thanks

[2018-01-25 13:21] #1084 closed

[2018-01-25 19:04] #1073 closed

[2018-01-25 19:05] #1015 closed

[2018-01-26 16:56] guedou opened #1091 "ppi geotag tests failing"
On two differents systems of mone (macos and Linux), the following command fails and I don't understand why:

`./test/run_tests -t scapy/contrib/ppi_geotag.uts -P "load_layer('ppi_geotag')" -F`

[2018-01-26 19:30] gpotter2 commented on #1045
https://github.com/secdev/scapy/pull/1088

[2018-01-27 10:02] #1060 closed

[2018-01-28 07:53] #1091 closed

[2018-01-28 18:35] gpotter2 commented on #1086
It would be nice to have all PRs about UTscapy fixed before working on this:
- https://github.com/secdev/scapy/pull/671
- https://github.com/secdev/scapy/pull/1082
- https://github.com/secdev/scapy/pull/1092

[2018-01-30 10:18] guedou commented on #1086
That's the master plan for v2.4.0 =)

Testing Python3 on osx with Travis proved to be quite difficult. I decided to use `tox` instead. The PoC works fine on my Mac.

Using `coverage` in UTscapy could help us having a build system that will behave the same on our machines as well on Travis and AppVeyor. I am not happy with the current build system as I cannot use it at home easily.

[2018-01-30 12:03] guedou opened #1099 "[IPv6] Unit tests regression on Linux 4.14"
On Linux 4.14, Scapy `conf.route6` does not return the same result. This impacts the selected source IPv6 address:

[code]

I will some time to understand which behaviour is preferred / correct.

[2018-01-30 16:20] p-l- commented on #1083
After applying the patch proposed in #1101, I've run:
[code]
Then I've compared the outputs of `tshark -T fields -e frame.len -r [capture file]` for both capture files (`orig.pcap` and `scapy.pcap`) and they match.

[2018-01-30 18:23] gpotter2 commented on #1099
On Windows, you'll have this when the loopback interface is not available/enabled
[code]
But that's expected as `::1` is simply not available.

I would say that `src` should be set to `::1` if a loopback interface matching this IP is available

[2018-01-31 08:02] #1083 closed

[2018-01-31 11:19] #981 closed

[2018-01-31 11:22] guedou commented on #967
#1106 provides a good way to fix this issue.

Closing as everything works OK now.

[2018-01-31 11:22] #967 closed

[2018-01-31 11:47] guedou opened #1107 "Support pypy3?"
Shall we also support pypy3 in our builds?

[2018-01-31 13:12] senaps opened #1108 "isn't the document update?"
hi, im a beginner in the whole network programming, but usually am able to search and ask.
but, problems here are somehow fundamental. i installed scapy and tried the `raw(IP())` thing and it threw an error!
had to read the code to find out that it may have changed to `Raw()` and even that, throws a not handled error at me.
i imported the code in python script to use `smb` layer thing, and it's no

[2018-01-31 13:35] p-l- commented on #1107
I don't know. Anyway, I don't think it should block the 2.4.0 release.

[2018-01-31 13:56] guedou commented on #1108
Please don’t harass us!

I replied yesterday on IRC and told you to first try without using twisted. You said that you did not do it...

Also, we cannot help without any piece of code.

[2018-01-31 15:03] p-l- commented on #1071
Fixed by #1106.

[2018-01-31 15:03] #1071 closed

[2018-01-31 15:49] guedou opened #1110 "[fuzz] Regression found in the documentation"
The following documentation example raises an exception:
`x = IP(dst="8.8.8.8")/fuzz(UDP()/NTP(version=4)`

[2018-01-31 18:55] gpotter2 commented on #1110
Should be fixed by https://github.com/secdev/scapy/pull/1113

[2018-01-31 20:37] senaps commented on #1108
huh, i said i love the thing! :) sorry that i wrote as if there is something wrong with scapy!
i didn't know how to do run it without twisted. i will come back with some code and hope to see you again on irc.

but, for real, is there a problem with the documents or i have a bad installation?

[2018-01-31 20:45] guedou commented on #1086
Another alternative could be to call coverage directly from tox as described here: http://schinckel.net/2014/07/28/tox-and-coverage.py/

[2018-02-01 07:37] #1076 closed

[2018-02-01 14:38] p-l- commented on #1108
Please open one issue for each error or question. Also report your **exact** error messages, together with the version of Scapy you are using ("it threw an error!" does **not** help us).

[2018-02-01 14:38] #1108 closed

[2018-02-02 07:48] qupfer opened #1118 ""Generating sets of packets" (as explained in the documentation) does not work for mixed sequence and range (e.g. IP(ttl=[1,2,(5,9)]))"
Hi,
as explained in the [tutorial](http://scapy.readthedocs.io/en/latest/usage.html#generating-sets-of-packets)
these two lines
`b=IP(ttl=[1,2,(5,9)])`
`[p for p in b]`
should create a set of 7 packets, like
`[<IP ttl=1 |>, <IP ttl=2 |>, <IP ttl=5 |>, <IP ttl=6 |>, <IP ttl=7 |>, <IP ttl=8 |>, <IP ttl=9 |>]`.

But the result is just:
`[<IP  ttl=1 |>, <IP  ttl=2 |>, <IP  ttl=(5, 9) |>]`

If I just u

[2018-02-02 16:41] xambroz opened #1120 "scapy config using obsolete utilities"
Hello,
the scapy/config.py is using (on Linux) quite obsolete tools to display PDF and PostScript.
PDF - acroread is not supported on Linux anymore since 2013
PS - gv - ghostview was not having even minor release since 2013 with very old-style X11 user interface

What about using the xdg-open ... which will then use the system preferences to use the default application configured for that file typ

[2018-02-02 18:30] gpotter2 commented on #1118
Good catch !
Should be fixed in https://github.com/secdev/scapy/pull/1121

[2018-02-02 18:43] gpotter2 commented on #1120
Hi, and thanks for reporting !
This fix sounds very fair, and I've implemented it in https://github.com/secdev/scapy/pull/1122

[2018-02-03 11:30] senaps opened #1123 "raw/Raw doesn't work - centos, python2.7"
version: `(2.3.3)`
os: `centos 7`
python: `2.7.5`

what i do:

    <IP  src=192.168.88.128 |>

    Traceback (most recent call last):
     File "<console>", line 1, in <module>
     NameError: name 'raw' is not defined

    Traceback (most recent call last):
    File "<console>", line 1, in <module>
    File "/usr/lib/python2.7/site-packages/scapy/base_classes.py", line 223, in __call__
    i.__in

[2018-02-03 12:33] gpotter2 commented on #1123
Hi !
Let's clarify:
- `raw()` turns a packet into bytes. It is only available with 2.4.0+ (we started to support Python 3). It means that you need to update scapy (for now, it's a Release Candidate)
- `Raw()` is a layer that contains some unknown content.

examples:
- `raw(IP())`
- `Raw("data")`

[2018-02-03 18:37] johnthagen commented on #1107
FYI, [at least as of last month PyPy3 support on Windows is "beta"](https://morepypy.blogspot.com/2018/01/pypy-5101-bugfix-release-for-python-35.html), in case that affects how you CI PyPy3.

[2018-02-04 03:34] maximMole opened #1124 "Sniff() doesn't capture the whole data from Raw Packet on fly"
I am trying to capture data from Raw packet on fly:
`>>> sniff(iface="wlan0", filter="tcp", prn=function)`
`def function(pkt):
    ...`
I am trying to get unencrypted packets from a specific website. But it doesn't show me the complete Data from Raw packet and skip the last part of it. i.e. the arguments specified by the POST request while submitting the web form.

[2018-02-04 10:59] guedou commented on #1124
Could you report your Scapy and OS version ?
 Also, can you try on a wired network ? That could help us identify the cause of the issue.

[2018-02-04 11:38] gpotter2 commented on #1124
Are you sure your packets are not fragmented ?

[2018-02-04 16:15] guedou commented on #1118
Here is the commit that introduces this regression:

[code]

@p-l- can you have a look ?

[2018-02-05 09:44] senaps commented on #1123
so we don't have this raw() in python 2, scapy 2.3.3 ?

im creating a packet subclass, it only contains a fields_desc .
i want the binary representation of it to be sent on the line using twisted.

so i'm thinking that i may need `raw(Packet_Subclass())`

is that even what i need? or i should use something like `i2m(elemnt_of_packet_subclass)` ?

[2018-02-05 12:37] #1118 closed

[2018-02-05 14:19] p-l- commented on #1123
Not clear what you are asking.

You do **not** have `raw()` in Scapy <= 2.3.3, you only have `str()`.

With Scapy >= 2.4.0rc*, you have `raw()`, which becomes the preferred API to convert a packet to its raw form. `str()` will still work, but only with Python 2.

If you have other questions, please open other issues.

[2018-02-05 14:19] #1123 closed

[2018-02-05 16:10] #1107 closed

[2018-02-05 17:01] p-l- commented on #1107
@johnthagen thanks, that's good to know but for now we do not test Pypy w/ Windows.

[2018-02-05 19:21] karpierz opened #1128 "scapy.utils.RawPcapReader.read_packet() in scapy's v2.4 is incompatible against scapy v2.3.2 & 2.3.3"
Scapy Version: 2.4.0rc4-58
System: Windows10
Python Version: 2.7.14

Scapy 2.4 has incompatibility with in scapy.utils.RawPcapReader.read_packet() against v2.3.2 & 2.3.3
Previously returned value was:
```return s,(sec,usec,wirelen) # caplen = len(s)```
but in scapy 2.4 is:
```return s, (sec, usec, caplen, wirelen)```

Its breaks a lot of scripts in our customers :(.
Unfortunately full backward com

[2018-02-05 19:22] karpierz commented on #1030
[#1128](https://github.com/secdev/scapy/issues/1128)

[2018-02-05 19:58] karpierz opened #1129 "Scapy 2.4rc4: Look like a scapy.packet.Packet.getlayer(self, cls, ...) does not work for 'cls' argument of string type ?."
Scapy Version: 2.4.0rc4-58
System: Windows10
Python Version: 2.7.14

Look like a scapy.packet.Packet.getlayer(self, cls, ...)  does not work for 'cls' argument of string type.
None is returned/layer not found for existing layer .
But for 'cls' of class type it works OK.
For previous scapy (2.31., 2.3.2) all works as expected for both string & class type.

E.g. for layer defined as :
[code]
a call:

[2018-02-05 20:01] karpierz commented on #1030
[#1129](https://github.com/secdev/scapy/issues/1129)

[2018-02-05 21:28] gpotter2 opened #1130 "Traceroute test on Python 3.4"
On several builds I had, this test seems to be failing a lot
[code]

e.g. https://travis-ci.org/secdev/scapy/jobs/337700526

[2018-02-06 02:42] martingalloar opened #1131 "ASN1 CHOICE with ambiguous ASN1 packets"
Hey all! I've some doubts about how to make `ASN1F_CHOICE` to work with ambiguous ASN1 packets.

Let's say we've the following two obsiously different ASN1 packet definitions:
[code]

Now let's say that we've the following packet that have the previous two as choices:
[code]

It's not currently possible to have the CHOICE field to correctly parse the two different but valid packets, as shown with

[2018-02-06 15:30] p-l- commented on #1128
Sounds OK to me, I think you should submit a PR.

[2018-02-06 15:31] #1110 closed

[2018-02-06 15:32] vikas-boundless opened #1132 "SNMPv3 packet support"
Enhancements : Support for SNMPv3 packtes required.

[2018-02-06 15:34] vikas-boundless commented on #1132
I can work over it if no one else it working.

[2018-02-06 16:38] karpierz commented on #1128
PR has completed successfully.
Branch is ready for merge to the master.

Thanks,
Adam Karpierz

[2018-02-06 18:24] p-l- commented on #1130
That's the same problem I've had before in different tests. Sometimes, the `/etc/services`-based resolver does not work, and that produces `:53` instead of `:udpdomain`.

[2018-02-06 19:28] #1129 closed

[2018-02-06 19:34] gpotter2 commented on #1132
No one's currently working on that.
If you are willing to submit a PR, feel free to do so !

[2018-02-06 19:55] gpotter2 opened #1135 "Printing Net6 generator"
Extracted from `https://github.com/phaethon/scapy/issues/233`

`IPv6(dst=['2001:db8::1','2001:db8::2'],hlim=(1,5)).show()`

But packets are correctly created

![image](https://user-images.githubusercontent.com/10530980/35881105-07c48458-0b80-11e8-988d-d62989eebf8e.png)

[2018-02-06 19:59] rgom opened #1136 "[Windows] POWERSHELL_MANAGER is never closed explicitly"
scapy-2.4.0rc4.dev58-py2.7
Windows 7

POWERSHELL_MANAGER isn't closed in arch/windows/__init__.py

That's a problem, because subprocess used inherits open files. The files can't be deleted without waiting for scapy to end (sleep-wait-repeat).

I've added POWERSHELL_MANAGER.close() near the bottom of __init__.py and it solved the problem.

Steps to reproduce:
1. Create a file.
2. Replace sys.stdout

[2018-02-06 20:02] gpotter2 commented on #1136
@rgom Hi ! Thanks a lot for reporting

Do you mean closing the file or scapy ?

Thanks !

[2018-02-06 20:06] rgom commented on #1136
Hello,
I mean closing the file.

If I create a file:

a = open('...', 'w')

then do a subprocess:

subprocess.Popen()...

then close the file:

a.close()

the file can't be deleted with:

os.remove(a.name)

Please compare to Python bug report https://bugs.python.org/issue19575
This is identical story, but all the enhancements went to Python 3.

I can see no other way to proceed than proposed (add

[2018-02-06 20:10] rgom commented on #1136
[code]

[code]

[2018-02-06 20:12] gpotter2 commented on #1136
I understand what you mean.

The point of not calling `POWERSHELL_MANAGER.close()` is that scapy does not have to start any more shell while performing OS access (through cmd/powershell). It speeds up the process to have a shell in no-CPU mode in the background.

I'm looking into a solution :)

[2018-02-06 20:56] gpotter2 commented on #1136
This is a Python 2.7 bug.
It was fixed on python 3.4+ ([link](https://www.python.org/dev/peps/pep-0433/)).

Scapy is not responsible for it... I'll try to find a work-around

[2018-02-07 05:24] vikas-boundless commented on #1132
I am on it. Thanks

[2018-02-07 07:24] rgom commented on #1136
Thank you for the feedback.

I must admit I have a different opinion, since I didn't observe that on any other imported package.

I have a workaround for my applications (adding NOINHERIT flag when opening a file created before importing scapy), but it's hard for me to maintain and I'd expect similar bug reports in the future.

I couldn't find anything relevant in subprocess myself (close_fds has

[2018-02-07 10:19] karpierz commented on #1136
It is god know issue/error in Py2.
There is no other option than setting this flag by ctypes fro windows.
In Python 2.7 there is no sys.get/set_handle_inheritable() but is easy to write those.
Another way/workaround (on our side) is to wait for finishing thread (and - powershell -process) process in it.
On scapy side will be best of existing e.g. scapy.finalize() method which will be responsible f

[2018-02-07 10:27] karpierz commented on #1136
Another workaround is to use scapy.???.???.POWERSHELL_PROCESS.close() in our code (in place when finalize() should be used) but it is weird, not portable etc. etc. Simply: such way cannot be used/implemented :(
Waiting for release handle is much better/natural (simply emulates waiting for semaphore.. Yes, it
is de facto the same problem:).

[2018-02-07 10:34] karpierz commented on #1136
Another way is use io.open() instead of open() but I don't know whether io.open() has the same
feature (not inherit handles in child processes) as both (open() & io.open()) in PY3.
Anyway: worth to  check this out... but can be another problem with encoding etc...
io.open() & open(0 is not quite the same (especially in Py2).

[2018-02-07 10:40] karpierz commented on #1136
Anyway:...
Maybe worth to replace powershell/vbscript callls for appropriate pure Python solutions ?
In one/two places is easy (e.g. reading Windows registry) in other will be harder but.. not impossible..
Is there a chance for doing it in short period for release 2.4? I doubt :(

[2018-02-07 12:24] gpotter2 commented on #1136
I’m thinking of a hack to set all opened files as not herited. Should be possible with windll api calls.. will check that out tonight.

[2018-02-07 14:07] karpierz commented on #1136
Maybe our hacks will be useful for you...

[code]

[2018-02-07 14:13] karpierz commented on #1136
:: I’m thinking of a hack to set all opened files as not inherited.

subprocess.Popen(close_fds=True) will be helpful but then exist some problems with stdout/stderr redirection.

Thanks,
Adam Karpierz

[2018-02-07 15:56] gpotter2 commented on #1136
I got a working fix !

[2018-02-07 16:05] gpotter2 commented on #1136
@karpierz @rgom
Hi !
Issue was fixed in https://github.com/secdev/scapy/pull/1138
![image](https://user-images.githubusercontent.com/10530980/35926617-dd8a551a-0c28-11e8-91d1-8b9e5d98cfe2.png)

`close_fds` is not available when stdout/stderr is used. The provided hack converts already existing opened files to non inheritable ones.

[2018-02-07 16:22] gpotter2 commented on #1136
@karpierz For the record, it's really hard for us not to call any CMD/VBS commands, without having to implement C code.

As scapy is a pure python project, it would become harder to compile, and break with the `download-and-run` policy

[2018-02-07 16:23] karpierz commented on #1030
#1139

[2018-02-07 16:32] karpierz commented on #1136
I really can help in this area in the future because I am familiar with ctypes usage a years (and I am really very old C/C++ programmer;)
Seriously: Practically all my low-level Python C-related code is based only and only on ctypes.

[2018-02-07 16:36] gpotter2 commented on #1136
@karpierz You are really welcomed to do so !

[2018-02-07 16:46] karpierz commented on #1136
Thank for your fix a lot!!
It was really blocked thing for us.

[2018-02-07 19:42] gpotter2 commented on #1130
Right, it seems that it's a travis failure

e.g. from https://travis-ci.org/secdev/scapy/jobs/337700526

[2018-02-07 19:42] #1130 closed

[2018-02-07 20:40] rgom commented on #1136
Thank you for the fix.
I confirm it fixes the test case provided - I'll have to verify it on bigger code base to see impact on actual code, but I don't expect surprises.
Is it going to land in 2.4 release?

Regards,
Robert

[2018-02-07 22:05] karpierz commented on #1030
#1141

[2018-02-08 07:53] rgom commented on #1136
Update:
I've verified the change successfully on bigger code base.

[2018-02-08 21:31] fsch2 opened #1143 "Custom Packet has problems with self.explicit"
Hi there, first of all, thanks for scapy, it's great!

I wonder what the meaning of the `self.explicit` property of the `class Packet` is. The reason for my question:

I have created a custom field, an array with a predefined number of elements. The internal representation is a Python list. I can add it to a packet and it is serialized correctly **if (and only if)** I manually set `self.explicit`

[2018-02-09 17:31] jcrowgey opened #1144 "Fix training whitespace in code, clean up and PEP8ify"
There's a lot of trailing whitespace and other funkiness which is distracting when reading the source.

[2018-02-09 22:14] fsch2 commented on #1143
This is the code. Sorry, it is a bit lengthy.
[code]

[2018-02-11 11:44] #1144 closed

[2018-02-12 05:08] karpierz commented on #1030
#1146

[2018-02-13 10:49] speakinghedge commented on #976
I did this a while ago while playing with some switches. Gimme a second to clean it up so I can create a PR from it...

[2018-02-13 11:46] lidllohntsich opened #1147 "DHCPv6Relay packet not properly dissected"
Scapy is not able to handle the following packet correctly:

0000  0C012001078900000000000000000000 .. .............
0010  00BAFE80000000000000000000000000 ................
0020  11110012000B495056362D544553542D ......IPV6-TEST-
0030  310009002A0C00200107890000000000 1...*.. ........
0040  0000000000001AFE8000000000000000 ................
0050  0000000000ABCD0009000401000000   ...............

Wir

[2018-02-13 14:12] guedou commented on #1147
Thanks for the report. Could you send us a pcap ?

[2018-02-13 14:46] lidllohntsich commented on #1147
zip file  added to initial post

[2018-02-13 18:59] speakinghedge commented on #1147
Le wild guess: The DHCP6OptRelayMsg treats the payload as an option - but it should be a DHCPv6 message.

@lidllohntsich could you please test the attached patch?

[fix-dhcpv4-relay-message.zip](https://github.com/secdev/scapy/files/1721229/fix-dhcpv4-relay-message.zip)

[2018-02-13 19:19] speakinghedge commented on #1147
I'm going to create a PR a soon as I was able to fix the related tests.

[2018-02-13 20:52] speakinghedge commented on #1147
PR is [here](https://github.com/secdev/scapy/pull/1149) and

[code]

results in

[code]

Also attached a stripped pcap that only contains the relevant frames.

[dhcpv6-relay-stripped.zip](https://github.com/secdev/scapy/files/1721627/dhcpv6-relay-stripped.zip)

[2018-02-14 01:31] arekbulski opened #1150 "general question, what do you use for binary parsing"
I am the developer of Construct library, and wanted to ask you, what does scapy use for parsing binary data?

[2018-02-14 15:13] guedou commented on #1150
We use our own engine based on the `Packet` object and the `*Field*` ones.

[2018-02-14 15:13] #1150 closed

[2018-02-14 15:38] lidllohntsich commented on #1147
first of all thanks for the quick response.

Unfortunately your patch did not work. It even spoiled up some other DHCPv6 msgs.
BTW the interfaceID is missing in your example.
Anyhow here is the printout of the pkt.show():

###[ DHCPv6 Relay Forward Message (Relay Agent/Server Message) ]###
  msgtype   = RELAY-FORW
  hopcount  = 1
  linkaddr  = 2001:789::ba
  peeraddr  = fe80::1111
###[ DHCP6 Inter

[2018-02-14 15:52] speakinghedge commented on #1147
Hmm.. works with the trace you provided.

If I replay the two DHCPv6 frames from [your trace](https://github.com/secdev/scapy/files/1721627/dhcpv6-relay-stripped.zip) I get:

[code]

And the patch should not affect any other message as it changes the _DHCP6OptRelayMsg_ only.

Can you provide a sample pcap containing the frames you used in your [last post](https://github.com/secdev/scapy/issues/114

[2018-02-14 15:54] speakinghedge commented on #1147
even this works as expected:

[code]

[2018-02-14 16:09] speakinghedge commented on #1147
instead if using the patch from above you could also checkout the _fix-dhcpv6-relay-message-clean-#1147_ branch from [my forked repo](git@github.com:speakinghedge/scapy.git).

[2018-02-14 23:20] speakinghedge opened #1151 "lldp fails to decode messages containing organisation specific options"
affected version: master

- org specific TLV currently not handled
- remaining payload is not decoded (guess_payload() in LLDPDU needs a proper default - currently it just returns None for TLV-type 127), LLDPDUEndOfLLDPDU is lost
- LLDP struct integrity test catches in (if not disabled = default) and throws an exception

[code]

Sample:
[lldp-with-org-specific-types.zip](https://github.com/secdev/

[2018-02-15 07:35] lidllohntsich commented on #1147
trying out your patch via the scapy shell seem to work.
In my setup I got this packet from a router and sniffed it via scapy sniff().
Dumping the received packet in the show() or trying perform checks on the
problematic protocol layer still fail with your patch.

[2018-02-15 08:10] speakinghedge commented on #1147
wild guess: the traffic from your router is IPv6 traffic and contains IPv6 extension headers?

[2018-02-15 08:20] speakinghedge commented on #1147
attached a trace used for testing sniff()with the 'setup' below - works for me. so sniff() seems to be okay.

[code]

could you capture the traffic from your router on the wire using a TAP or switch with a span/mirror port?

[dhcpv6-test-frames.zip](https://github.com/secdev/scapy/files/1726799/dhcpv6-test-frames.zip)

[2018-02-15 08:25] #1136 closed

[2018-02-15 08:38] speakinghedge commented on #1147
in other words (coffee hasn't kicked yet so I missed to ask the proper question):

1. are you using sniff in your scapy-shell setup (that works) or a trace?

2. Are all frames affected/corrupted or only DHCPv6? (as you reported some issues with VLAN in your setup).

3. Can you provide a little more context? Like: OS, Python version, expected behavior vs observed behavior (a rough sketch would be e

[2018-02-15 08:56] speakinghedge opened #1152 "ICMPv6 lacks support for MLDv2"
__affected version:__ master

__affected protocol(s):__ ~IPv6~, ICMPv6

__brief description__: ~fails to dissect payload after IPv6 extension header (probably related to padding with length of zero)~ as [discovered](https://github.com/secdev/scapy/issues/1152#issuecomment-365935428) by  @guedou MLDv2 is not supported by the ICMPv6 layer

__how to reproduce__:

(using attached trace)
[code]

__actu

[2018-02-15 09:07] speakinghedge opened #1153 "issue template"
@guedou [reminded](https://github.com/secdev/scapy/pull/1149#issuecomment-365558079) me the hell of automation github provides... so something else came back to my mind: https://github.com/blog/2111-issue-and-pull-request-templates

this could/would provide guidance to the reporter, outline a minimum of required information and deliver a unique structure.

[2018-02-15 13:14] speakinghedge commented on #1151
now the output for org specific TLVs looks like...

[code]

[2018-02-15 14:01] guedou commented on #1152
Scapy does not currently support MLDv2. That the real issue here.

[2018-02-15 14:11] speakinghedge commented on #1152
is see...

for reference: https://tools.ietf.org/html/rfc3810

[2018-02-16 13:37] nickever opened #1157 ""python setup.py egg_info" failed"
I've tried a few different install methods without luck. Any suggestions for a fix to the error below. Running '$sudo pip3 install scapy' on macOS 10.12. Thanks

[code]

[2018-02-16 13:46] guedou commented on #1147
@lidllohntsich does #1158 works? It provides a simpler fix and does not break the current API.

[2018-02-16 14:33] guedou commented on #1157
Which version of Python and pip are you using?

Can you try with the following command? It will install the current release candidate.
[code]

[2018-02-16 14:49] nickever commented on #1157
Thanks for the reply guedou. Python v3.6.4 and Pip v9.0.1

installing the --pre version worked. Thanks!

[2018-02-16 14:59] guedou commented on #1157
v2.3.3 does not work with Python3. v2.4.0 supports it and will be released when the remaining issues are fixed: https://github.com/secdev/scapy/projects/1

[2018-02-16 14:59] #1157 closed

[2018-02-16 15:51] ruivapps opened #1159 "2.3.3 stable release setup.py chmod 0755"
2.3.3 stable release (default pip install scapy)still using os.chmod(fname, 0755)
I see master is already updated. [ Commit ](https://github.com/secdev/scapy/commit/291400c1b6f65363e33cc982aaf0d43d31cc424e)

is there any plan to bring the change to 2.3.3 version?
So, **pip install scapy** on python3 won't raise

[code]

[2018-02-16 16:04] guedou commented on #1159
Scapy 2.3.3 does not support Python". Scapy 2.4.0 will.

In the mean time, please use
[code]

[2018-02-16 16:04] #1159 closed

[2018-02-16 16:11] guedou commented on #1143
`explicit` is used to know if the packet is implicit (i.e. IP()/UDP), or explicit (i.e. IP(ttl=(0,2)/UDP(), Scapy will generate 3 packets).

[2018-02-16 16:11] #1143 closed

[2018-02-16 16:12] guedou commented on #1124
Closed due to no reply from the author.

[2018-02-16 16:12] #1124 closed

[2018-02-16 16:14] guedou commented on #1086
This is not needed anymore as we can support coverage through tox.

[2018-02-16 16:14] #1086 closed

[2018-02-16 19:02] dreerr opened #1161 "monitor mode of wireless device in OSX not working"
When trying to run a simple program like
[code]
Scapy isn't able to set the network interface into proper monitoring mode. Whereas `tcpdump -i en0 -I -py IEEE802_11` immediately turns monitoring mode on and the icon in the menu bar changes to: ![bildschirmfoto 2018-02-16 um 19 57 41](https://user-images.githubusercontent.com/1454661/36324154-cecc6d60-1353-11e8-8b90-2807c8d286bc.png)

Using `conf.u

[2018-02-16 19:48] guedou commented on #1161
Scapy does not enable monitor mode, as some users want to sniff the real IP traffic, while others want the 802.12 one.

 You need to do it yourself for example, using airmon-ng or ifconfig depending on your OS.

[2018-02-16 20:18] guedou commented on #1161
It seems that it used to be better in the old days according to this comment: https://github.com/the-tcpdump-group/libpcap/blob/7a04be7771d44a2f7e74210cc39e4df0ccef8d97/pcap-bpf.c#L752

I will try to hack something, but won't have time to push a proper fix anytime soon.

[2018-02-17 07:45] fsch2 commented on #1143
@guedou Thanks for the reply.

I am afraid, I still don't understand the meaning of ``explicit``. Apart from it being the opposite of ``implicit``. Is an implicit packet one that is auto-generated because a layer above *needs* it? If so, then what is the purpose of the complex logic in packet.py using the iterators?

Then again, I was able to resolve the problem by setting the ``islist`` attribute

[2018-02-17 08:10] guedou commented on #1143
The documentation provides more examples of implicit packets: http://scapy.readthedocs.io/en/latest/introduction.html?highlight=implicit.

In a nutshell, there are Scapy Packets (i.e. Python objects), that express more than one 'physical' packet (i.e. ones sent over the network).

If your field contains a list, `islist` is the way to go.

[2018-02-17 09:46] dreerr commented on #1161
Thanks for investigating that issue! There seems to be no way in OSX to set the Airport Card into Monitor Mode, without capturing into that program. The ways I found to enter Monitor Mode was with WireShark, KisMac, `sudo tcpdump -Ii en0` and `airport sniff CHANNEL`
But when having a capture session with i.e. tcpdump it is not possible to attach scapy on the same interface.

pcap's [pcap_set_rfmon

[2018-02-17 11:40] fsch2 commented on #1143
Thanks, again. I got it now. It helps me thinking of *implicit* packets as *parametrized* packets. By that, an implicit packet is a description of a series/set of explicit packets using some list or set to iterate over.

I am writing this down, it might help someone in the future.

[2018-02-19 09:25] lidllohntsich commented on #1147
@guedou  Thanks. Patch seems to work. I could not see any side effects any longer.

[2018-02-19 14:27] guedou commented on #1152
I am working on a fix.

[2018-02-20 11:06] ihrEvgenij commented on #969
Hello together,

i have a similar problem like @lidllohntsich . With the difference, that i have to sniff the packets on windows.
Will the tag reconstruction discribed by @grzegorzsn work on win too or is there now a solution in scapy?
Is this solution an extention of the sniff function?

[2018-02-20 23:33] gpotter2 commented on #1161
Hello !
I managed to implement monitor mode in Windows (https://github.com/secdev/scapy/pull/1165).

What's annoying with it is that `pcap_set_rfmon` needs to be called on non-activated handles, which means you can't use `pcap_open_live` functions (or any equivalent). For instance, I had to call even lower API (see PR: `pcap_create`, `pcap_activate`...).

You might want to grab ideas from the Wind

[2018-02-20 23:39] gpotter2 commented on #1030
My personal `2.4.0` list (will update/remove it when done). All my other PRs are low priority.
Broken stuff:
- https://github.com/secdev/scapy/pull/1162 (Windows 8 IPv6 = **Critical**)
- https://github.com/secdev/scapy/pull/917 (netflowv9)
- https://github.com/secdev/scapy/pull/1137 (route generators)
- https://github.com/secdev/scapy/pull/1104 (duplicated logs)
- https://github.com/secdev/scapy/p

[2018-02-21 07:16] p-l- opened #1166 "Interactive console: global variables (including functions) cannot be used in functions"
How to reproduce:
[code]

With a function:
[code]

According to `git bissect`, this issue has been introduced in 887a9676436a3ed03419497b454b457ecbd13938.

[2018-02-21 07:24] #1135 closed

[2018-02-21 10:21] gpotter2 commented on #1166
This is a very well known IPython bug
https://github.com/ipython/ipython/issues/62

For some reason it exists since years...
Current only workaround is to call

`globals().update(locals())`

Before using the function

[2018-02-21 13:48] p-l- commented on #1166
I don't think we can release Scapy if it has this bug by default... @guedou?

[2018-02-21 14:35] guedou commented on #1166
It is quite a big regression =/

Not on the same topic, put I can't use completion anymore. The following does not work:
`IPv6()/ICM<TAB><TAB>`

[2018-02-21 15:05] gpotter2 commented on #1166
#1169 Contains a fix

[2018-02-21 15:58] adpham95 opened #1170 "Stopping sniff() when it reaches the end of a pcap or after no more packets are seen."
For performing analytics on large pcaps, sniff() with arguments prn and store=0 seems to be preferred over rdpcap() as it avoids the large memory overhead and is more performant.

However, I have been unable to find a way to programmatically stop sniff() when the end of the pcap file is reached (or no more packets are received if capturing live).

Stopping it with a KeyboardInterrupt is not really

[2018-02-21 16:25] adpham95 commented on #1170
...my apologies, I didn't realize for pcap analysis there was scapy.utils.PcapReader, which does stop iteration once EOF is reached.

The timeout suggestion may still be useful to someone, but I guess I'll close this since the main issue was a non-issue.

[2018-02-21 16:25] #1170 closed

[2018-02-21 16:35] p-l- commented on #1166
Fixed by @gpotter2 in #1169. Good job!

[2018-02-21 16:35] #1166 closed

[2018-02-22 08:36] guedou opened #1171 "[IPv6] Wrong link-local address selection with multiple interfaces"
It seems that Scapy does not correctly handle multiple interfaces with IPv6. The following script must not fail:
[code]

Filtering unneeded routes works as a temporary workaround:
[code]

[2018-02-22 08:50] guedou commented on #1171
I am working on a fix.

[2018-02-22 14:14] gpotter2 commented on #1161
I've poked `pypcap` to see if they could implement `pcap_set_rfmon`.

They nicely responded that there was an awaiting PR: https://github.com/pynetwork/pypcap/pull/67 that supports it.

I don't have access to an OSX machine with WiFi enabled. Would be really cool if someone could implement monitor mode.
Note: proper way to start a monitor socket is

[code]

[2018-02-22 14:15] karpierz commented on #1030
Hi,
What about/what I should do with:
[#1133](https://github.com/secdev/scapy/pull/1133)
[#1146](https://github.com/secdev/scapy/pull/1146)
[#1141](https://github.com/secdev/scapy/pull/1141)
PR/fixes to complete its for merge for the master?
Thanks,
Adam

[2018-02-22 15:28] guedou commented on #1161
As Scapy does not need a pcap module on OS X, I want this feature to be implemented with ctypes only.

[2018-02-22 16:05] guedou commented on #1030
@karpierz there are already assigned to the project https://github.com/secdev/scapy/projects/1

[2018-02-22 16:11] gpotter2 commented on #1161
I didn't know :/ sry

[2018-02-23 07:52] guedou commented on #957
Closed by #958

[2018-02-23 07:52] #957 closed

[2018-02-23 07:52] guedou commented on #938
Closed by #958

[2018-02-23 07:52] #938 closed

[2018-02-23 10:34] karpierz commented on #1030
@guedou assigned, but not merged quite a long time so it is inconvinient for us, because we aim (even forse:) to use only the public/official version (event if it is on dev. state as for now) of scapy in out users/cases.

Thanks,
Adam

[2018-02-24 06:51] aryan21710 opened #1176 "Scapy send issue on latest build '2.4.0rc4.dev94' on python3."
I am trying to send an icmp packet using my wireless interface. I keep getting following error. I am using the latest scapy version on python3. When i try to send packet using python3 shell, i keep getting segmentation fault 11 error. Both sr and send is failing. But it works seamlessly using ./run_python. Any suggestion workaround is really appeciated. Is this a known issue? I have tried updating

[2018-02-24 07:57] guedou commented on #1176
Scapy needs “root”. Did you try with sudo ?

[2018-02-24 08:43] guedou opened #1177 "Contrib tests in regression.uts"
Some contrib tests are in regression.uts and need to be moved.

[2018-02-24 08:45] aryan21710 commented on #1176
All the other sappy commands works without sudo... also I am trying scapy
from python interactive shell. I first import the scapy.all module. Once I
am in the shell it doesn't give me an option to use sudo(send(IP)).

On 24-Feb-2018 1:27 PM, "Guillaume Valadon" <notifications@github.com>
wrote:

[2018-02-24 08:52] guedou commented on #1176
Could you try with:
[code]
Also, which OS are you using?

[2018-02-24 09:12] aryan21710 commented on #1176
./run_scapy works.  I am using python 3.4 on Macos.

On 24-Feb-2018 2:22 PM, "Guillaume Valadon" <notifications@github.com>
wrote:

[2018-02-24 09:26] guedou commented on #1176
Did you try the command that I gave you? You are not helpful...

[2018-02-24 09:40] aryan21710 commented on #1176
I will try that command and will get back to you.  Let me know what else
info you need.

I have a very bad network connection today coz of some repair work.

On 24-Feb-2018 14:56, "Guillaume Valadon" <notifications@github.com> wrote:

[2018-02-24 13:32] aryan21710 commented on #1176
When I try
git clone https://github.com/secdev/scapy ... it throws fatal error
"destination path scapy already exists and is not an empty directory".

On 24-Feb-2018 15:10, "aryan sharma" <aryan21710@gmail.com> wrote:

[2018-02-24 13:40] guedou commented on #1176
Try in another directory ...

[2018-02-24 14:07] aryan21710 commented on #1176
Tried in another dir and it worked. Please see the logs.

bash-3.2$ git clone https://github.com/secdev/scapy/

Cloning into 'scapy'...

remote: Counting objects: 15877, done.

remote: Compressing objects: 100% (48/48), done.

remote: Total 15877 (delta 44), reused 51 (delta 31), pack-reused 15798

Receiving objects: 100% (15877/15877), 68.00 MiB | 664.00 KiB/s, done.

Resolving deltas: 100% (8771

[2018-02-24 14:35] guedou commented on #1176
So there is no issue, you only need to launch Scapy using sudo.

[2018-02-24 14:35] #1176 closed

[2018-02-24 14:40] aryan21710 commented on #1176
Can you please let me know why scapy fails when i a run a python script in
which scapy module is imported?

Script:-

#!/usr/bin/python3

import sys

from scapy.all import *

png=IP(dst='www.google.com')/ICMP()

print ('CALLING SCAPY SEND PROGRAM')

try:

   r=srloop(png,count=10)

   for i in r:

       if i.haslayer(ICMP):

          print ('THE ICMP PACKETS ARE:-',str(i[ICMP]))

except:

   pri

[2018-02-24 17:48] p-l- commented on #1176
@aryan21710 please do **not** comment on a closed issue. Open another one if you have another question. Also, please format your text correctly, it is too hard to read.

[2018-02-24 21:37] Spinlogic opened #1178 "IKEv2 : wrong key_length transform attribute encoding"
In current version 2.4.0rc4.dev109 of scapy (also tested with 2.3.3) , the key_length attribute for transform_type = 'Encryption' is wrongly encoded in the transmitted IKEv2 packet.
transform_1 in the following code

[code]
is sent as

![transform1_wrong](https://user-images.githubusercontent.com/5713270/36635233-f04b73f0-19b1-11e8-83fe-22ae5b98c690.PNG)

The same code with scapy3k (phaeton fork o

[2018-02-25 06:13] aryan21710 opened #1182 "Scapy send issue from python interactive shell. Follow up to the #1176 issue."
**I am trying to send an icmp packet using my wireless interface. I keep getting following error. I am using the latest scapy version on python3. When i try to send packet using python3 shell, i keep getting segmentation fault 11 error. Both sr and send is failing. But it works seamlessly using ./run_python. Any suggestion workaround is really appeciated. Is this a known issue? I have tried updati

[2018-02-25 20:07] p-l- commented on #1182
Please format your code properly, we cannot read it now. Read [Github documentation about Markdown](https://guides.github.com/features/mastering-markdown/) and edit your comment.

[2018-02-25 20:56] #1152 closed

[2018-02-25 21:11] p-l- commented on #916
Fixed in #917.

[2018-02-25 21:11] #916 closed

[2018-02-25 21:13] p-l- commented on #1030
@karpierz we're doing our best... sorry for the delays, we too would like to be faster :)

[2018-02-25 23:07] karpierz commented on #1030
No problem. Thanks :)

[2018-02-26 06:14] p-l- commented on #1128
Fixed in #1133.

[2018-02-26 06:14] #1128 closed

[2018-02-26 13:18] aryan21710 opened #1188 "Scapy sr:- How to read answered and unanswered summary from the output of sr."
As per documentation "Sr return a tuple of two lists. The first element is a list of tuples (packet sent, answer), and the second element is the list of unanswered packets. These two elements are lists, but they are wrapped by an object to present them better, and to provide them with some methods that do most frequently needed actions"

     Received 6 packets, got 3 answers, remaining 0 packets

[2018-02-26 16:09] gpotter2 commented on #1188
You may use `show()` on those lists.

[2018-02-26 19:17] gpotter2 commented on #1182
@aryan21710 You should give more information about your OS:
- what OSX version are you using ?
- on which device ? Is it virtual ?

[2018-02-26 20:50] decastromonteiro opened #1189 "GTPv1 Redesign"
Hi @alexsult , I'm opening this issue so we can discuss the gtp.py module improvements.

I'm very interested in helping with GTPv1 and GTPv2 support improvements, beginning with GTPv1 I've forked scapy and added information to the module.

You can check it here [59098e9](https://github.com/decastromonteiro/scapy/commit/141d8970e721994f2913e7784b363f7973fe7f61)

Since I'm suggesting a "redesign" I

[2018-02-26 21:05] gpotter2 commented on #1147
@guedou @p-l- Has not been auto-closed.
Shall be closed

[2018-02-26 21:51] Osso commented on #1189
I never managed to have my pep8 fixes merged. I hope you have more luck than I did.

[2018-02-26 22:04] p-l- commented on #1188
More precisely:

[2018-02-26 22:04] #1188 closed

[2018-02-26 22:55] jomo opened #1190 "Using `sendp` inside `bridge_and_sniff` stops bridging"
[code]

I have been using `bridge_and_sniff` as shown above and noticed that – in this case – frames were no longer forwarded from `eth2` to `eth3` (they still were from `eth3` to `eth2`, though) after `sendp` was used.

*Edit:* Just in case it matters, this was done on Kalix Linux 32 bit using two Ethernet interfaces

I assume this is a bug, or maybe I am doing it wrong?

[2018-02-26 22:56] decastromonteiro commented on #1189
Hey @Osso I sure hope so. Feel free to join our discussion, you are very welcome.

[2018-02-27 01:58] zavierxu opened #1191 "Is there a way to follow tcp stream / session when using PcapReader to analysis huge pcap file"
When using rdpcap function, I can get sessions in this way:
[code]
But I have no idea about using PcapReader to follow sessions

[2018-02-27 07:34] #1147 closed

[2018-02-27 08:05] guedou commented on #1189
@decastromonteiro please don't apply PEP08 to the actual code. It breaks code history and makes bugs harder to track. We won't accept these changes.

You are encouraged to apply PEP08 to new code that you will develop.

[2018-02-27 08:06] guedou commented on #1178
Could you provide a shorter example that triggers this issue and that does not use the network?

[2018-02-27 08:08] #1182 closed

[2018-02-27 08:08] guedou commented on #1182
@aryan21710 please start Scapy as root, for example using sudo.

[2018-02-27 08:38] valour01 opened #1192 "Send destination on bridge"
Consider a scenario that I have a host A and a host B. Between A and B I have a host C. I set the C as the bridge using the tool `brctl`. On host C, I use scapy to create a TCP packet. I set the src as A's addr and the dst as B's addr and then I use `send` to send it out.

However, when I use Wireshark to capture the packets on both A and B. I noticed that it is A that receiving the TCP packet rat

[2018-02-27 11:37] Spinlogic commented on #1178
The smallest piece of code that I could use to reproduce the issue is
[code]
I only see the error in the packet when it is sent, so I need to send it. But you can send the packet to any dummy address.
I do not see the error with packet.show() or packet[1].summary().

The code above works OK with scapy3k, but fails with scapy. And I tested with python3.6 on updated Kali linux.

[2018-02-27 14:34] Spinlogic commented on #1178
I digged a bit into the ikev2.py code inside contrib and found that the following alternative implementation of class _IKEv2_Key_Length_Attribute_ (change is in the last line only) seems to fix the issue:

[code]
I will do some more testing and provide a diff patch, if needed. I will also see if I can add a test for this.

[2018-02-28 04:18] aryan21710 commented on #1188
Thank you. It worked.

On Tue, Feb 27, 2018 at 3:34 AM, Pierre Lalet <notifications@github.com>
wrote:

[2018-02-28 04:24] aryan21710 commented on #1182
Thank You. The script executes flawlessly when ran with sudo.

On Tue, Feb 27, 2018 at 1:38 PM, Guillaume Valadon <notifications@github.com

[2018-02-28 09:06] benHeid opened #1195 "Missing ICMP Types"
Enhancement. Support for further ICMP Types is needed. For example ICMP Type 40 (Security Failure), 55/56 (Domain Name Request/Reply) and 30 (Traceroute) are not supported.

If no one working on it, I can implement the mentioned types.

[2018-02-28 09:08] guedou commented on #1195
You can do it. Please have a look at CONTRIBUTING.md.

[2018-02-28 09:10] guedou commented on #1192
Did you try injecting using Ethernet instead of IP ?

[2018-02-28 09:13] guedou commented on #1191
The `.sessions()` can only be called on `PacketList` object. You need to implement a similar logic in your code to use it with something else.

[2018-02-28 09:13] #1191 closed

[2018-02-28 10:59] valour01 commented on #1192
I tried it just now. I am not very sure how to inject using Ethernet instead of IP. I create `e = Ether()` and I set `e.dst = destination interface MAC address` and `e.src = source interface MAC address`; Then I use `send(e/i/t)` instead of `send(i/t)`. However, I could not capture the packets on both A and B. I don't know whether I am right. Could you please give me a small example on injecting u

[2018-02-28 11:52] guedou commented on #1192
Please have a look at the documentation

[2018-02-28 16:39] trivox opened #1197 "rdpcap function does not work: NoneType' object is not callable"
Hello, all,
My system is:
[code]

I build scapy from source code, revision 59098e926 (but tried also few earlier commits with same bad result). My python version is 3.6.4. I wrote this script:
[code]

I attach [mytcpdump.zip](https://github.com/secdev/scapy/files/1767957/mytcpdump.zip) file that I used for input. It opens in wireshark ok. After I try `python myscript.py mytcpdump.pcap` I get these

[2018-02-28 17:37] guedou commented on #1197
It works fine with current master both on Python and Python3.

[code]

[2018-02-28 17:37] #1197 closed

[2018-03-01 06:40] alexsult commented on #1189
On 02/26/2018 09:50 PM, Leonardo Monteiro wrote:

I would prefer "improvement".

We need to keep in mind that:
- we need to (easily) track changes
- the code is already here for year and may be used by others, so
changes can break other's code

Like @guedou wrote, that's a good idea, but please only apply PEP8 on
your new code.

I think, we must stay with gtp.py, for compatibility reasons

Good ne

[2018-03-01 09:51] speakinghedge commented on #1192
and

especially for the small difference between _send()_ and _send**p**()_

[2018-03-01 18:37] karpierz commented on #1030
#1198 - a bug (for us even a blocker).

[2018-03-01 19:14] guedou commented on #1030
2.4.0 is supposed to be released really soon. How come this issue did not show up in the previous RC?

[2018-03-01 21:01] karpierz commented on #1030
Because in previous RC the "monitor" feature has not been  implemented at all.

[2018-03-02 06:11] polybassa opened #1199 "packet.time_sent can't be set because of object copy during list comprehension"
https://github.com/secdev/scapy/blob/254ab6d5ae443bb2190e85e4898bfdd8bace9c54/scapy/sendrecv.py#L186

Is this list comprehension necessary at this position? Without a list comprehension, the time_sent values in the objects to be sent will be propagated to the original object. Because of the deep copy in the list comprehension, the time_sent is only set in a temporary object and not in the original

[2018-03-02 08:24] guedou commented on #1030
Thanks for the clarification. I though that you did your tests with master, and was a bit worried that we missed something.

[2018-03-02 12:12] SkypLabs commented on #989
I just published a blog post about a way to address this issue: http://blog.skyplabs.net/2018/03/01/python-sniffing-inside-a-thread-with-scapy/ . I hope it will help you.

[2018-03-02 12:33] guedou commented on #989
Thanks!

Sent from my iPhone

[2018-03-02 12:46] karpierz commented on #1030
Yes, but it was even worse. Previously working production code began to give errors :(.

[2018-03-02 12:51] guedou commented on #1030
Do you have other issues with current master ?

Sent from my iPhone

[2018-03-02 14:35] karpierz commented on #1030
Yes, but they are not blokers (maybe with one exception) so I don't want to give you extra work.
In this week I will spend a lot of time to finishing its and creating ev. PRs, but some of them will need discussion/investigation with you, so rather there will no strict requirements to include them in 2.4.x.

[2018-03-02 15:24] guedou commented on #1030
Thanks a lot! I really appreciate your efforts in making Scapy more stable.

[2018-03-02 23:41] Hacksawfred3232 opened #1202 "SMTP connection problems"
So, i don't know if this is just me being stupid or if there is a bug in Scapy, But whenever i pass a integer to ACK3/4 and then send it in ACKP3/4, it either:

- Sends a integer of 2
- Sends a big random number that i presume is generated by the IP stack.

Here is the code in Question:
[code]
Where:
SYNA =  Contain IP elements "src" - which points to my ip - and "dst" - which points to my server

[2018-03-03 07:15] gpotter2 commented on #1202
Hi !
It seems unclear if you are using `scapy` or `scapy3k`.
Please check that you are using the latest version of scapy,

[2018-03-03 09:56] Hacksawfred3232 commented on #1202
I'm using Scapy3. And formatting the code oddly seems to put it all on 1 line which looks wrong. So cant help that. Why no support for scapy3?

[2018-03-03 11:12] gpotter2 commented on #1202
Scapy3k is a different project, an outdated fork from scapy. We can’t provide support for it as it’s not using the same code as as us.
Nowadays scapy (the original one) supports python3, so there is no need to use scapy3k.

However, if you uninstall it and use scapy (the original one), using `pip install —pre scapy` or with the github build, we’ll be able to provide you support :-)

[2018-03-03 12:34] Hacksawfred3232 commented on #1202
Ehm.... Just to confirm what i meant:
I installed Scapy via apt-get install python3-scapy and pip3 install scapy. (And doing the python 2 versions variant as well just in case). So when i meant scapy3, i meant the python 3 variant of scapy. Just to clear up the confusion.

[2018-03-03 12:50] gpotter2 commented on #1202
As of today, scapy3k is packaged as python3-scapy for no understandable reason :/
https://launchpad.net/ubuntu/zesty/+package/python3-scapy

Best way is to uninstall this version and use `pip3 install scapy` :-)

[2018-03-03 13:08] Hacksawfred3232 commented on #1202
🤦‍♂️  What!? *sigh* Going to uninstall scapy3k now and replacing it with the correct version.
In the mean time, could you figure out whats wrong with the code i posted?

[2018-03-03 17:59] wubucheng opened #1206 "I has meet some problem whether I use python2.7 or python3.5+,that is I could not get the interfae or macaddress"
Detail:
The first question is when I use the method 'get_if_hwaddr' to get mac address, they can not work and the exception is "AttributeError: 'unicode' object has no attribute 'pcap_name'" By the way,My environment is window10+ Python2.7+scapy2.3.3.
The other question is when I use the method 'sniff(iface,count)'  I pass the parameters to the iface, I got the error message is "AttributeError: 's

[2018-03-03 18:51] gpotter2 commented on #1206
Hi !
On Windows, unlike on *nix systems, you need to pass a `NetworkInterface` object.
For instance, look at the default one located in `conf.iface`.

You may also use the `IFACES` interface to list them:
![image](https://user-images.githubusercontent.com/10530980/36938018-e0ff1374-1f1b-11e8-8da1-4156ca3054d0.png)

You also have handy functions:
- `dev_from_pcapname(x)`
- `dev_from_index(x)`
- `IF

[2018-03-04 12:47] wubucheng commented on #1206
Thanks for your help! But when I use python,how could I get a IFACES object? I guess can use
 'IFACES = NetworkInterfaceDict()
IFACES.load_from_powershell()'
but  the result unlike a IFACES object

[2018-03-04 13:58] gpotter2 commented on #1206
You can import IFACES using
`from scapy.all import IFACES`
The object is ready to use

[2018-03-05 03:33] qdyxmas opened #1210 "sendp ICMP(type=8) is not correct but sr1(ICMP(type=8)) is correct"
my code is
#coding=utf8
from scapy.all import *
import binascii
import time
timestamp= "%08x" %(time.time())
opt=[IPOption('%s%s%s'%('\x44\x28\x09\x00',binascii.a2b_hex(timestamp),'\x00'*36))]

packet=Ether(src="00:11:22:33:44:55",dst="00:b0:cc:34:be:38")/IP(src="192.168.3.217",dst="192.168.3.1",options=opt,ihl=15)/ICMP(type=8)/"abcdefg"
sendp(packet,iface="eth7")

when i exec script,I capture the

[2018-03-05 08:24] guedou commented on #1210
Please provide information about your OS, Python and Scapy versions. We won't help your otherwise. This is not a forum but an issue tracker.

[2018-03-05 09:12] qdyxmas commented on #1210
win7 + scapy2.3.3+python2.10

[2018-03-05 09:16] guedou commented on #1210
Please try with current master.

[2018-03-06 02:57] qdyxmas commented on #1210
when i change '\x00'*36 to '\x00'*32 ,it's ok now.
it's my fault ,tks

[2018-03-06 07:17] #1210 closed

[2018-03-07 13:41] yuz835 opened #1214 "ImportError: No module named consts"
test/run_tests -P "load_contrib('ethercat')" -t scapy/contrib/ethercat.uts

Traceback (most recent call last):
  File "test/../scapy/tools/UTscapy.py", line 14, in <module>
    from scapy.consts import WINDOWS
ImportError: No module named consts

anyone knows what the problem is? I'm on Mac Os

[2018-03-07 13:50] guedou commented on #1214
Please report your OS, Python and Scapy versions...

[2018-03-07 14:52] guedou commented on #1161
@dreer can you try PR #1215 ?

[2018-03-07 14:53] guedou commented on #1161
I have another patch for other *BSD but I cannot test it =/

[2018-03-07 16:32] yuval9313 opened #1217 "Unsolved issues in compatibility.py in latest version"
I get stuck on multiple types of problems caused by compatibility.py in Scapy 2.3.3
I've read some guides on some fixes but other issues keep occurring
I've installed the older version (scapy 2.3.2) which has its own unfixable problems
please help me.

p,s running time is very low, it takes about 2 -3 min for Scapy to load also in CMD

[2018-03-07 16:32] yuz835 commented on #1214
OS: macOS High Sierra
Python: 2.7
Scapy: I cloned from https://github.com/speakinghedge/scapy
@speakinghedge

[2018-03-07 16:40] gpotter2 commented on #1214
You got an older version of scapy installed on your computer.
Get to the clone folder and overwrite the current version using
`python setup.py install`

[2018-03-07 16:45] yuz835 commented on #1214
thanks alot, I will take a try, and will update later

[2018-03-07 16:52] #1214 closed

[2018-03-07 16:52] #1217 closed

[2018-03-07 16:55] guedou commented on #1214
I am sorry but what is the point of opening an issue on this github when you are using code from another one ?
Except wasting our time, I cannot think of anything!

[2018-03-07 16:58] yuval9313 commented on #1217
Tried that already
CMD: Requirement already satisfied: scapy

and yet problems keep occurring

[2018-03-07 17:00] yuz835 commented on #1214
hmm, my bad, I didnt find the issue tab of that one.
I should ping him directly.
sorry again @guedou

[2018-03-07 17:01] yuval9313 opened #1218 "Unsolved issues in compatibility.py in latest version"
I get stuck on multiple types of problems caused by compatibility.py in Scapy 2.3.3
**I've read some guides on some fixes but other issues keep occurring**
I've installed the older version (scapy 2.3.2) which has its own unfixable problems
please help me.

I already tried `pip install --pre scapy`
and the answer is: `Requirement already satisfied: scapy`

**I tried a lot of methods in order to fix

[2018-03-07 17:06] gpotter2 commented on #1217
`pip install --upgrade --pre scapy`

[2018-03-07 17:07] guedou commented on #1218
Duplicate of #1217. There is no way we can help you if you don't report your OS, Python an Scapy versions ....

Please stop opening issues. This is harassment!

[2018-03-07 17:07] #1218 closed

[2018-03-07 17:10] yuval9313 commented on #1218
os: windows 10 pro version 1709 X64
python 2.7.6.1
scapy currently installed with: `pip install --pre scapy`

[2018-03-07 17:18] yuval9313 commented on #1218
sorry about the dup I new in the GitHub community
I saw the comment in the #1217 and i have tried it
again `Requirement already satisfied: scapy`
I used it again with `pip install --upgrade --pre --ignore-installed scapy`

and now i have other issue with wireshark might be because it is not updated
thank you for your help

[2018-03-07 17:40] polybassa opened #1219 "Build of CAN packet fails when swap-bytes is enabled"
The current implementation of CAN Packet fails while building a CAN Packet with a length less than 16 bytes.
[code]
This bug will be fixed with the changes in PR #1211

[2018-03-07 17:55] yuval9313 commented on #1218
I found new issues
[code]
should i be concerned about any of them?

[2018-03-07 18:40] gpotter2 commented on #1218
Please install ipython
`pip install ipython`
Should fix the "error" messages (which are not important)

Those warnings are common

[2018-03-07 20:25] zaheersyed opened #1221 "OSError: This operation requires Npcap."
I m getting this error while using scapy on windows.
I have installed Npcap on my WIndows 2016 Server. But I m still seeing this error.

sendp( packet, iface=conf.iface )

03/07/2018 12:11:29 - worker - INFO - Traceback (most recent call last):
  File "windows_worker.py", line 343, in play_packet
    sendp( packet, iface=conf.iface )
  File "C:\Python27\lib\site-packages\scapy\sendrecv.py", line 3

[2018-03-07 20:31] yuval9313 commented on #1218
Thank you for your help

[2018-03-07 20:34] yuval9313 commented on #1221
You need to install Npcap on your computer
You can find a link an installer [here](https://nmap.org/npcap/)

You might also need Wireshark but first install this and report us if it work

[2018-03-07 21:38] zaheersyed commented on #1221
I have installed "Npcap 0.99-r1 installer". But Im still seeing the issue.

[2018-03-07 21:44] gpotter2 commented on #1218
No

[2018-03-07 21:47] gpotter2 commented on #1221
Thanks for reporting. This is a bug.
Will provide a fix very soon

[2018-03-07 21:57] gpotter2 commented on #1221
Thanks !
This should be fixed with https://github.com/secdev/scapy/pull/1222
You may want to try this PR.

You surely had Winpcap installed: with this PR, you don't need to install npcap anymore.

Sorry for the inconvenient. We recently have had unstable changes performed

[2018-03-07 22:02] zaheersyed commented on #1221
Thank you for the fix.

So either Winpcap or Npcap is fine ?
I started with Winpcap and then I uninstalled it and installed Npcap.
With Winpcap uninstalled and Npcap installed, I was seeing the above error.

[2018-03-07 22:05] gpotter2 commented on #1221
Having Winpcap and Npcap installed is not the best option.

I would recommand to have Npcap installed, rather than Winpcap, as it is way more updated and recent.
However, I know nothing of their compatibility on Windows Servers.

Both of them will work fine with the fix.

Please watch out: when uninstalling Winpcap, the installation is not complete, and you need to perform several manual steps to

[2018-03-08 07:39] #1221 closed

[2018-03-08 14:39] yuval9313 commented on #1218
I dont want to open another ticket but I'm facing an issue where powershell.exe opens anytime I open scapy in pycharm

Thank you in advence

[2018-03-08 20:15] karpierz commented on #1030
... and bugfix #1225

[2018-03-08 22:15] zaheersyed opened #1227 "How can I access the default ethernet interface on windows in scapy? [question]"
The IFACES object looks like this for me.
 {'data': {'{762EBD09-20AF-48E2-96AD-30B0AE76C826}': <NetworkInterface Npcap Loopback Adapter {762EBD09-20AF-48E2-
96AD-30B0AE76C826}>, '{F317E41B-F8EE-416B-A715-57A3EE680F96}': <NetworkInterface vmxnet3 Ethernet Adapter {F317E41B-F8EE-416B-A715-57A3EE680F96}>}}

I m trying to access eth0 so that I can use it in sendp().
My 'ipconfig' looks like this:

C:\

[2018-03-08 22:29] ZackAlfakir opened #1228 "Documentation for setting RadioTap Fields"
When creating a RadioTap Layer, it is clear how to set the fields that are in the header, but not any of the additional fields that are marked as present. Additionally, the Layer does not correctly calculate it's length, leading to packet alignment issues.

[2018-03-08 23:00] gpotter2 commented on #1227
Duplicated https://github.com/secdev/scapy/issues/1206

[2018-03-08 23:04] gpotter2 commented on #1228
Hi ! Welcome to scapy

Please elaborate your issue so we can help you:
- provide your OS, Python version
- retry with latest scapy `pip install —pre scapy`
- provide code or a pcap
- provide a screenshot of wireshark with the malformed packet or similar

Thanks !

[2018-03-08 23:59] zaheersyed commented on #1227
I dont see eth0 listed.

INDEX  IFACE                     IP             MAC
15     vmxnet3 Ethernet Adapter  172.xx.xxx.xx  00:50:16:11:A0:C1
18     Npcap Loopback Adapter    127.0.0.1      00:00:00:00:00:00

[2018-03-09 06:35] #1227 closed

[2018-03-09 06:54] gpotter2 commented on #1227
There is no eth0 on windows...

Please have a look on google

[2018-03-09 07:07] karpierz commented on #1030
...and (as I said earlier) not mandatory/not a blocker or even bugfix #1126, but.. why not ? ;)

[2018-03-09 10:41] kauegimenes commented on #1182
@guedou I have the same issue, already tried running the script with sudo.
mac os 10.13.3

[2018-03-09 11:32] guedou commented on #1182
Which version of Python and Scapy are you using?

This is likely not an issue with Scapy.

[2018-03-09 12:12] kauegimenes commented on #1182
scapy-python3 v0.23
Python v3.6.4

[2018-03-09 12:48] guedou commented on #1182
You are not using this project code...

[2018-03-09 17:52] kauegimenes commented on #1182
@guedou Its possible to use this project with python v3?

[2018-03-09 18:09] gpotter2 commented on #1182
Yes. We know it's confusing, but for now `scapy-python3` points to an outdated scapy fork.
Please uninstall it and install scapy via `pip install --pre scapy`

[2018-03-09 18:33] karpierz commented on #1030
Thanks for acceptation! (especially for #1226;)

[2018-03-09 19:27] karotak opened #1230 "Add attribute to scapy.packet.Packet"
First of all thanks for developing & maintaining scapy, it's a really great tool!

Now to my problem at hand. I want to add a history attribute to my scapy packet `p` that works with `p.copy()`. That means whenever I modify  `p` I would add something like `"Ether.src changed"` to `p.history` and if I copy `p`, the new packet should have the same history. Since scapy does not support new packet att

[2018-03-09 19:47] gpotter2 commented on #1030
@karpierz Hi ! Could you delete all your posts in this issue that have been fixed please ? It's easier to see what's done or not

[2018-03-09 19:52] #1151 closed

[2018-03-09 22:38] karpierz commented on #1030
One question. Is there any change to drop support for Python 3.3 ?
Py3.3 is very buggy and brings many problems - for us is important especially e.g unicode decoding/encoding probolems/bugs for some kinds of binary data and others like e.g. handles
inheritance by the subprocess (its cannot be fully protected even by the recent Gabriel's patch/hack) etc.
For instance most of packages on pypi alread

[2018-03-10 07:54] guedou commented on #1030
It will be removed as a side effect of #1160 =)

[2018-03-10 09:16] karpierz commented on #1030
Excellent ;) Thanks

[2018-03-10 11:05] karpierz commented on #1030
...and (probably last really important from my side) #1234

[2018-03-10 15:25] karpierz opened #1235 "Scapy 2.4.0, Windows: bug (and fix) of '_windows_title()' for Python2"
Scapy Version: 2.4.0rc5-28
System: Windows7/Windows10
Python Version: 2.7.14

For Python2 a title of console window is displayed incorrectly due to str/unicode mismatch.
It has been fixed as "side effect" of #1236

Thanks,
Adam Karpierz

[2018-03-10 15:27] karpierz commented on #1030
...and (appears in the meantime) #1235

[2018-03-10 21:09] speakinghedge commented on #1177
will work on it. (kind of compensation for the FUD I left over in LLDP)

[2018-03-10 21:19] karpierz commented on #1235
Manual test code for verify an error of '_windows_title()':

from scapy.config import conf
import scapy.arch.windows

conf.interactive = True
scapy.arch.windows._windows_title("Title is OK!")
input()

On original master for Python2 it gets improper result (can even cause GPF).

[2018-03-10 23:16] karpierz commented on #1030
...and bugfix #1237

[2018-03-11 07:21] ushkyr opened #1239 "Interfaces not detected/recognized on Win Server 2012 r2 + Python 2.7.13"
installed scapy + npcap 0.99 r1 at windows server 2012 r2
attempted to sniff - only loopback activity tracked.
tried pushing ethernet interface through:
[code]
same wtih loopback interface (22) works - scapy sniffs loopback activity.

also tried to push interface to conf by conf.iface='Citrix PV Network Adapter #0', use 'iface = 'Citrix PV Network Adapter #0' as sniff() parameter - all to no avail

[2018-03-11 09:42] gpotter2 commented on #1239
Hi !
Could you post the result of
`IFACES`
In a scapy shell ?

[2018-03-11 10:52] ushkyr commented on #1239
hi, here it comes.
with loopback driver uninstalled would show empty table headers
[code]

[2018-03-11 10:53] ushkyr commented on #1239
[code]

[2018-03-11 11:38] gpotter2 commented on #1239
Well scapy only detects one single interface: the loopback one.
Please check that you are connected to Internet :/

If you think there is a bug, please submit the result of the  following commands in powershell:
[code]
[code]

[2018-03-11 13:08] ushkyr commented on #1239
knocked off the loopback to check. ifaces returned empty table
[code]
 pinged google - I'm connected
[code]
[code]

[code]

[2018-03-11 13:34] #1045 closed

[2018-03-11 22:04] karpierz commented on #1030
...and last #1240 (the same ares as #1226)

[2018-03-12 11:00] dreerr commented on #1161
Successfully working under OSX High Sierra 🤘

[2018-03-12 13:40] guedou commented on #1161
Perfect !

[2018-03-12 18:50] gpotter2 commented on #1239
Thanks a lot !
I will need additional data to investigate:
* `import platform; platform.release()`
* `get_if_list()`
* `get_windows_if_list()`

[2018-03-12 19:11] bartex80 opened #1242 "wrpcap regression"
`wrpcap('/tmp/empty.pcap', [])`
should write a pcap header but the file is empty instead

scapy==2.4rc5 is wrong, scapy==2.4rc4 and below was OK

[2018-03-12 19:55] guedou commented on #1242
confirmed.

[2018-03-12 19:57] ushkyr commented on #1239
[code]

[2018-03-12 21:44] guedou opened #1243 "in6_addrtovendor issue when manufdb is None"
[code]

[2018-03-12 22:21] gpotter2 commented on #1239
Hmmm
`get_if_list` returns the interfaces that Npcap detects. It seems that it’s broken on their end.

Could you try to uninstall Npcap and use winpcap instead ? Can’t say if it will work but it’s worth a try

[2018-03-12 23:28] karpierz commented on #1242
We observe the same issue.
In rc5 a writing of pcpap header has been (probably intentionally) removed from:
class RawPcapWriter.write(self, pkt):

@@ -13,7 +13,6 @@
                 try:
                     p = next(pkt)
                 except StopIteration:
-                    self._write_header(b"")
                     return
                 self._write_header(p)
                 self._writ

[2018-03-13 16:50] ZackAlfakir commented on #1228
OS: Ubuntu 16.04
Python: 3.5.2
Scapy: 89a077139b5328f2ba165a305602b65930418686

[code]
( The above may not be fully copy/pastable due to text wrapping)

`wireshark([ping, RadioTap()/ping])`

![image](https://user-images.githubusercontent.com/2652713/37356544-a38fd08e-26bc-11e8-92f5-6c2c8cd12565.png)

You'll notice that on the one with the RadioTap layer, it has moved the bits over, pushing the MAC

[2018-03-13 19:16] ushkyr commented on #1239
worked!!! thank you so much!

[code]

[2018-03-13 19:31] speakinghedge commented on #1177
Is there anything else beside the MPLS tests?

[2018-03-13 19:50] gpotter2 commented on #1239
You may want to report what happened on their github page

https://github.com/nmap/nmap/issues/new

(yes its nmap tracker, they share it)

[2018-03-13 19:57] guedou commented on #1242
Issue caused by 82e3214279fd8bb99a2f9cc1aaec8110813a762f

Here is a piece of code that could be used as a unit test:
[code]

[2018-03-13 19:57] guedou commented on #1242
@p-l- could you have a look?

[2018-03-13 19:58] gpotter2 commented on #1239
test

[2018-03-13 21:21] gpotter2 commented on #1239
@guedou May be closed (unrelated to scapy)

[2018-03-13 21:27] gpotter2 commented on #1228
You cannot bind `RadioTap` to `Ether`: it's not a valid packet.
What would, for instance, be a valid packet would be

`RadioTap()/Dot11()/LLC()/SNAP()/Ether()`

![image](https://user-images.githubusercontent.com/10530980/37370846-bca6d56c-270d-11e8-809c-3b9d84af4216.png)

[2018-03-13 22:11] #1239 closed

[2018-03-13 22:11] #1228 closed

[2018-03-13 23:04] tyler124 opened #1246 "In sendp() using an 'inter' value less than 0.001 results in the packets being sent out at max rate"
When I use:
`sendp(packetList, iface=myIfaces[SCAPY_DEV], inter=0.001, verbose=False)`

My packets get sent out as expected, with a 0.001 second gap between packets

However, when I use:
`sendp(packetList, iface=myIfaces[SCAPY_DEV], inter=0.0009, verbose=False)`

I get a similar result as using inter=0, with there only being a .00024 gap between some packets.

Is 0.001 intended to be the floor for

[2018-03-14 14:05] IamIdan opened #1248 "Errno 11001 when trying to import scapy.all"
Hello everyone!
I have a very strange error when trying to import scapy:
[code]
Can someone tell me what I need to do in order to fix this bug?
I'm using the development version from here on Windows 10, python 2.7.11

[2018-03-14 14:46] karpierz commented on #1235
![scapy](https://user-images.githubusercontent.com/7438703/37409539-e13aec60-279e-11e8-828a-5dc1d63b8942.png)

[2018-03-14 17:24] ZackAlfakir commented on #1228
Thanks for the help. Is there any documentation out there that I can use to learn more about how to use RadioTap? Also, how does one set the fields in the RadioTap layer when present != 0? The only examples I have found so far are with present=0, but I need to set present to allow fields (which is clear) and then put those fields in the layer (which I can't find).

[2018-03-14 19:51] cclauss opened #1249 "Undefined name ' p' in _tls_aead_auth_decrypt()"
Should this be __c__ instead of __p__?

$ python3 -m flake8 . --count --select=E9,F82 --show-source --statistics
[code]

[2018-03-14 22:26] speakinghedge commented on #1000
@guedou can be closed - was merged / issue is solved.

[2018-03-15 08:20] speakinghedge commented on #1190
you did everything right :smile: - this was caused by a bug.

[2018-03-15 15:05] #1000 closed

[2018-03-15 15:08] guedou commented on #1249
It looks like it. If you fix that could you also add a unit test?

[2018-03-15 15:24] #1161 closed

[2018-03-15 15:30] #1243 closed

[2018-03-15 15:31] bedweather opened #1252 "rror "TeX didn't respond as expected within the timeout period " at calling pdfdmump()"
Pathon: 2.7
Scapy:2.4

When I try demo calling rdpcap() , error has been happened

`>>>import shlex`
`>>> a=rdpcap("/home/zhangqiang/test.pacap")`
`>>> a[423].pdfdump(layer_shift=1)`
`still waiting for tex after 5 (of 60) seconds...
still waiting for tex after 10 (of 60) seconds...
still waiting for tex after 15 (of 60) seconds...
still waiting for tex after 20 (of 60) seconds...
still waiting for

[2018-03-15 15:40] IamIdan commented on #1248
I am willing to check it myself If someone could tell me a way in which I could debug this (print seems to not do anything? also cant open the file with PyCharm because every Import of scapy.something is an error)

[2018-03-15 16:01] guedou commented on #1252
Could you share the content of your packet with `a[243].command()` ?

[2018-03-15 16:40] shyamabhuvanendran commented on #266
pip3 install scapy-python3

This worked for me!

[2018-03-15 17:21] guedou commented on #266
That’s a silly fix! scapy-python3 is a different project ...

Please try with pip install —pre scapy instead

[2018-03-15 17:59] gpotter2 commented on #1252
Please also report any warning/error messages when you are starting scapy

[2018-03-16 07:56] karpierz commented on #1030
Blocker #1256 (Disabling the snmpwalk test due to unknown but very often instabilities).

[2018-03-16 08:31] scherma commented on #393
Looking forward to seeing this in stable release! Just downloaded 2.4.0rc5 and glad to see it's working there :)

[2018-03-16 13:18] wubucheng commented on #1206
Excuse me,now I have anoter question.Like "---[ Ethernet ]-......---[ IP ]--....--[ ICMP ]--",how can I know the packets has the layer 'icmp' or another in python.Should I using 'packets[index][ICMP]' to test?

[2018-03-16 16:02] guedou commented on #1206
Please read the documentation, and don't edit your questions.

You can access a specigic layer using the following syntax: p[ICMP], p[ICMP:2], or p[0].

[2018-03-16 16:02] #1206 closed

[2018-03-16 16:09] guedou commented on #1177
I would like to move scapy/contrib/*.uts to test/contrib.

[2018-03-16 16:15] speakinghedge commented on #1177
or

I would *also* like to move...

as moving scapy/contrib/*.uts is somehow different from extracting contrib tests from regression.uts.

I can do it - new ticket or new issue title?

[2018-03-16 16:16] speakinghedge commented on #1177
Btw: nice trick to make me read the 10K lines of tests. Learned a lot.  :smile:

[2018-03-16 16:29] guedou commented on #1030
Scapy v2.4.0 will be released on March 21.

I selected the necessary PR under the TODO section in https://github.com/secdev/scapy/projects/1

[2018-03-16 16:34] guedou commented on #1177
Sorry =/

[2018-03-16 20:17] speakinghedge commented on #1177
did I miss something? open PR and refine there?

[2018-03-16 21:57] speakinghedge commented on #1246
The inter(framegap - IFG) is just a sleep - the time required to build and send the frame is not taken into account - so the observable IFG will vary a lot (depending on the 'power' and utilization of your CPU, the structure/complexity of the frame). And even the call to sleep() will add some delta that depends on the underlying operating system.

But you can speedup sending frames a lot by
1. bui

[2018-03-17 00:08] dima1911 opened #1258 "Add attribute to scapy"
File "/usr/lib/python3.6/site-packages/scapy/base_classes.py", line 240, in __call__
    i.__init__(*args, **kargs)
  File "/usr/lib/python3.6/site-packages/scapy/packet.py", line 134, in __init__
    self.fields[f] = self.get_field(f).any2i(self, v)
  File "/usr/lib/python3.6/site-packages/scapy/fields.py", line 259, in any2i
    return self.h2i(pkt,x)
  File "/usr/lib/python3.6/site-packages/sca

[2018-03-17 09:14] speakinghedge commented on #1258
will be hard (if not close to impossible) to help you without any further context
(a naked stack trace with a headline that could mean anything is not enough).

Which scapy version is it? Environment?
What have you tried to achieve/do? (formatted example code snipped would be nice)
What was the expected result, output or outcome?

[2018-03-17 12:08] karpierz commented on #1030
Don't forget about #1236.
It is really important for us and our customers.

[2018-03-17 15:13] gpotter2 opened #1260 "IPv6 ICMPv6MLReport2 crashing while dissecting"
Made tons of PR crash recently
[code]

[2018-03-17 16:32] dima1911 commented on #1258
I'm sorry! I just stupid, all work fine. Thank for help!!

[2018-03-17 16:32] #1258 closed

[2018-03-18 17:42] #1260 closed

[2018-03-18 19:20] #1120 closed

[2018-03-18 20:20] guedou commented on #1248
Could you share your routing table? Better, could you share the value of self.routes at `scapy/routes.py` line 152.

[2018-03-18 20:23] guedou commented on #1230
You cannot do that without modifying `Packet.__slots__`

[2018-03-18 20:23] #1230 closed

[2018-03-18 20:25] guedou commented on #1202
Closed due to no activity.

[2018-03-18 20:25] #1202 closed

[2018-03-18 20:28] guedou commented on #1199
What issue are you facing that will require changing this line? Please provide an example.

[2018-03-18 20:28] #1192 closed

[2018-03-19 06:18] karpierz commented on #1235
Closed (due to #1236 is merged)

[2018-03-19 06:18] #1235 closed

[2018-03-19 06:43] polybassa commented on #1199
Hi, here is an example:
[code]

[2018-03-19 06:52] polybassa commented on #1199
Here is another example. SuperSocket.send() sets the sent_time correctly
[code]

[2018-03-19 16:02] user189 opened #1262 "IKEv2 handshake"
Hello,

I'm learning how to use Scapy and in order to do so am trying to establish an IKEv2 handshake.

I have run into a similar issue expressed in Issue #1178, more precisely the Attribute field that stays empty (IKE_SA_INIT packet).
So far I have used a workaround by adding the attribute as raw data but it's not really practical.

I also try to create an IKE_AUTH initiator request, having recei

[2018-03-19 18:09] ZackAlfakir opened #1263 "Syntax Error when importing from command()"
I sniffed a packet and used packet.command():
[code]

Then I try to re-import the packet from the string using `eval(packet.command())` and I get the following:

[code]

It seems to not like that we are trying to do `Ack Policy=0` because the field has a space.

A potential fix for this would be renaming the field from `Ack Policy` to something like `Ack_Policy`

The line causing the bug can be fo

[2018-03-19 18:23] ZackAlfakir commented on #1263
Another note:
`eval(pkt.command().replace("Ack Policy=0, ", ""))` will work for that packet.

[2018-03-19 21:49] xambroz commented on #1120
Hello gpotter2,
using evince instead of the acroread is slightly better, from the current support point of view.
But from user perspective on linux hard-coding the evince is wrong idea - same way as it is wrong to hardcode acroread.
I believe using the xdf-open is much better option for users as they can decide (and/or actually use their existing settings). It is part of the Free Desktop https://w

[2018-03-19 22:18] guedou commented on #1120
See #1255

[2018-03-20 05:13] thenames-ranapratap opened #1265 "How to send openflow messages?"
Hello

I am learning scapy and want to create openflow messages. But I am unable to do it. How to create openflow messages using scapy.

Tried this:

Output:

NameError                                 Traceback (most recent call last)

<ipython-input-11-d10db080e02c> in <module>()
----> 1 ofm = OFPTHello()

NameError: name 'OFPTHello' is not defined

:)

[2018-03-20 07:18] guedou commented on #1265
Please have a look at https://github.com/secdev/scapy/blob/master/scapy/contrib/openflow.uts and https://github.com/secdev/scapy/blob/master/scapy/contrib/openflow3.uts for examples.

[2018-03-20 07:26] speakinghedge commented on #1265
openflow is a contribution (and not part of the default layer set) - so you need to import it explicitly, e.g.

[code]

as the usual `from scapy.all import *` is not sufficient here.

[2018-03-20 07:33] thenames-ranapratap commented on #1265
@guedou Thanks for response. It helped me. +1:

[2018-03-20 07:33] thenames-ranapratap commented on #1265
@speakinghedge Thanks. Working fine now :) :100:

Do I have to do same process for every OF message.? @speakinghedge

[2018-03-20 09:19] mmyxolidian opened #1266 "bridge_and_sniff functions suddenly stops"
When I execute my script, bridge_and_sniff function starts normally and suddenly gets stopped and program terminates. Sometimes it occurs some seconds after launching it, and some other times can be working properly for 1 hour and then get stopped.

[2018-03-20 09:27] Sean2379607955 opened #1267 "Get-WMIObject -class Win32_NetworkAdapter Timeout with Realtek PCIe GBE Family Controller"
Traceback (most recent call last):
  File "C:/Users/Administrator/PycharmProjects/testrouter/common/sniffer.py", line 3, in <module>
    from scapy.all import *
  File "C:\Users\Administrator\PycharmProjects\testrouter\venv\lib\site-packages\scapy\all.py", line 16, in <module>
    from .arch import *
  File "C:\Users\Administrator\PycharmProjects\testrouter\venv\lib\site-packages\scapy\arch\__init

[2018-03-20 10:55] guedou commented on #1263
Thanks for this PR! PR #1268 fixes it.

[2018-03-20 10:56] guedou commented on #1262
Could give use the following information?
- Scapy version
- Python version
- OS
- the packet that trigerred the issue

[2018-03-20 12:42] gpotter2 commented on #1267
This is not our implementation: it’s scapy3k

[2018-03-20 12:46] #1267 closed

[2018-03-20 13:39] #1263 closed

[2018-03-20 14:07] Sean2379607955 commented on #1267
You are right. I have installed scapy again, but there is no module in pycharm. How to install module of scapy into pycharm?

[2018-03-20 14:08] user189 commented on #1262
- Scapy version : 2.4.0rc4.dev65
- Python version: 2.7
- OS: Kali 4.12.0
- Packet:
The packet that I try to parse with Scapy is a regular IKE_AUTH packet:
![image](https://user-images.githubusercontent.com/34303662/37659471-6459d8bc-2c50-11e8-859e-66e19a36c860.png)

And I end up with the aforementioned result with IP/UDP/ESP.

[2018-03-20 14:12] guedou commented on #1262
Try:
[code]

[2018-03-20 15:03] karpierz commented on #1030
#1269

[2018-03-20 15:38] g-mahieux opened #1270 "[Enhancement] MACsec: Support for Extended Packet Number (XPN)"
Hello,

I am working with Scapy's MACsec implementation and found it very useful (thank you).

Unfortunately, it lacks support for XPN (Extended Packet Numbering) which roughly is an extension providing support for 64 bit packet numbers.
I am proposing to submit a patch implementing it, but I'd like the feedback of original authors about which direction to take. Options would be:
- modify the exis

[2018-03-20 17:56] karpierz commented on #1249
Fixed by #1269

[2018-03-20 18:05] guedou commented on #1249
Thanks a lot!

Could you try to add a unit test? This code is not tested that is why this issue was never discovered. You can find example in https://github.com/secdev/scapy/blob/6d5c078b8e2d85bbb244ded02e417d577842c0ce/test/tls.uts

Let me know if you need support.

[2018-03-20 19:08] gpotter2 commented on #1267
https://www.jetbrains.com/help/pycharm/installing-uninstalling-and-upgrading-packages.html
![image](https://user-images.githubusercontent.com/10530980/37677125-62c18dc2-2c7a-11e8-808a-b5616ad371cd.png)

[2018-03-21 04:12] Sean2379607955 opened #1272 "[Enhancement]Can scapy support sip and rtp protocol?"
I hope to analysis sip and rtp via scapy.
But there is no related description.
Can I get some hint?

[2018-03-21 05:54] Sean2379607955 opened #1273 "thread.error happen when scapy run on win7"
C:\Users\Administrator\PycharmProjects\simpletester\venv\Scripts\python.exe C:/Users/Administrator/PycharmProjects/simpletester/common/sniffer.py
Traceback (most recent call last):
  File "C:/Users/Administrator/PycharmProjects/simpletester/common/sniffer.py", line 1, in <module>
    from scapy.all import *
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python36-32\lib\site-packages\

[2018-03-21 07:12] #1273 closed

[2018-03-21 07:13] Sean2379607955 commented on #1267
Yes. Issue resolved.
Thanks.

[2018-03-21 07:25] speakinghedge commented on #1266
What scapy and python version is in use? What platform?
What is the purpose of the script? Can you add relevant code snippets (formatted)?
Does it terminate by raising an exception? If so - plz add the stacktrace here.
Could you plz add a brief description of your setup?

Are you sending any data inside the sniff callback? -> see #1190

[2018-03-21 07:50] mmyxolidian commented on #1266
So, the platform where Scapy Script is running is Ubuntu Server 17.10. Scapy current dev version (switched because in stable same thing happened). Python latest 2.7. The purpose of the script is to perform a transparent MITM attack by altering packets on the fly.

Setup: enp0s8 is directly connected to a Win10 machine where ABB OPC server is installed. enp0s3 is directly connected to a mikrotik, w

[2018-03-21 08:21] speakinghedge commented on #1266
Code looks okay. As I'm currently forced to use a Windows box a can't try it right now (but later today) - but from my experience with #1190 I guess that your interfaces are catching some outgoing frames (e.g. IPv6 neigh stuff) and therefore they are removed silently (https://github.com/secdev/scapy/blob/master/scapy/sendrecv.py#L747). If no socket is left the b-n-s exits. You should try to apply

[2018-03-21 08:25] mmyxolidian commented on #1266
Thank you so much :))

[2018-03-21 09:44] g-mahieux commented on #1270
Another point on which your input would be welcome:
With XPN, the packet number to store in MACsecSA is 64 bits, but in the MACsec packet the field is still 32 bit (for the 32 LSB). Thus the following options are possible:
- store a 64b PN in MACsecSA and only forward the 32b LSB to the packet in encap()
- store the additional 32 MSB bits in a separate field (xpn_msb) of MACsecSA
I am working with

[2018-03-21 09:49] guedou commented on #1199
Issue confirmed. I don't have time to investigate it.

[2018-03-21 10:00] karpierz commented on #1249
Done, but your help is needed.
Se my last comment in #1269

[2018-03-21 10:25] karpierz commented on #1030
Question:
What I should do with #1240 ?
Do I have to do a rebase or it is ok/enough?
PS: and what about regression fixed by #1253 ? Is it finally implemented/will certainly be included in 2.4.0final?

[2018-03-21 10:35] guedou commented on #1030
v2.4.0 will happen today. The 4 PR currently in TODO under the project will be merged. The other ones likely won't be.

#1240 and #1253 are both in the list =)

[2018-03-21 10:59] karpierz commented on #1030
Excellent!
So last request from my side "in this century" :)
Could you include in TODO also #1271?
Ok, the test for this fix is not ideal perfect/not quite completed for now, but will be useful
for us/my company/our customers because we will use (and already partially intensively use tls layer.
So It is very important for us to enter such (even little) fixes/improvements in the official scapy rele

[2018-03-21 11:03] guedou opened #1274 "Remove the queso module?"
While trying to write tests for the queso module, I could not easily find the source code online. It seems that the project is now abandoned. Shall we remove this module?

[2018-03-21 11:20] guedou commented on #1030
This is only related to encrypting and decrypting, and never encounter any issue while sniffing traffic. Therefore, I don't think that it should be integrated into v2.4.0 as the PR is not ready.

[2018-03-21 12:45] user189 commented on #1262
Works for me, thank you!

[2018-03-21 13:27] #1262 closed

[2018-03-21 13:32] karpierz commented on #1030
Please add to TODO #1275

[2018-03-21 15:03] mmyxolidian commented on #1266
Apparently your workaround solved the problem, I really appreciate it. Regarding the side notes, this work is part of my PhD dissertation, so although they won't be considered in this WP (deadline in 2 weeks 😅), I may find it useful in near future. In conclusion, thanks so much again 😃

[2018-03-21 16:59] gpotter2 commented on #1274
The version [that we advise to get in the documentation](http://scapy.readthedocs.io/en/latest/installation.html#optional-software-for-special-features) indeed seems a little old...

![image](https://user-images.githubusercontent.com/10530980/37724599-710d4670-2d31-11e8-9340-c12a1463569c.png)

[2018-03-21 17:33] #1272 closed

[2018-03-21 17:37] #1246 closed

[2018-03-21 17:42] guedou commented on #1266
@mmyxolidian good luck for the deadline! Don't forget to credit Scapy if you used it. It is often used during PhDs but rarely cited =)

[2018-03-21 23:37] karpierz commented on #1030
UPDATE:
PR #1269 is finished succesfully. Please include it in TODO.

All another errors in layers/tls/tools module has been fixed.
All code in this module has been ported to Python3.
Tests are added for all functions in this module.

PR is ready for merge to the master.

[2018-03-22 07:56] guedou opened #1277 "[PEP08] Project PEPin!"
### Goals

During yesterday Scapy meetup, we discussed how we can improve the current state of Scapy source style with the following constraints:
- limit the effects on git history
- perform incremental changes
- ease reviewing
- aim to fix a single type of error per pull-request, and explain why some are not fixed
- enforce PEP08 checks
- credit original authors

### Methodology

We performed a `

[2018-03-22 08:08] karpierz commented on #1030
Please include it in TODO: #1276

[2018-03-22 08:50] justfool opened #1279 "upgrade to 2.4.0rc5, sendp() with iface argument will raise AttributeError"
OS Enviroment: window 10, python 3.6.4, install npcap with WinPcap compatibility mode
the `sendp()` will raise AttributeError when given iface argument (work on 2.4.0rc2 ~ 2.4.0rc5)

[code]

[2018-03-22 09:02] justfool commented on #1279
Oh... it has was already been fixed in current repo!

[2018-03-22 09:02] #1279 closed

[2018-03-22 10:32] guedou opened #1280 "TLS notebook does not support Python3"
In https://github.com/secdev/scapy/blob/master/doc/notebooks/tls/notebook3_tls_compromised.ipynb, the `rb` flag must be passed to `open()`. Moreover, `load_layer("tls")`  must be added after loading Scapy.

[2018-03-22 12:30] karpierz commented on #1249
PR is finished succesfully.

All another errors in layers/tls/tools module has been fixed.
All code in this module has been ported to Python3.
Tests are added for **all** functions in this module.

PR is ready for merge to the master.

[2018-03-22 14:47] ZackAlfakir opened #1281 "Feature Request: Allow output control for sendp, sendpfast, family."
Currently when using `sendp` or `sendpfast` there is a lot of output to console. The output for `sendp` can be silenced with:

[code]

It would be nice if there were a simpler way to make it so we can control where scapy output and errors go.

However, the output for `sendpfast` cannot be silenced because of this line:

[code]

If we were allowed other inputs to the `sendpfast` function, we could

[2018-03-22 20:40] polybassa commented on #1199
The problem ist not the mentioned line.
The issue is probably in ```packet.__iter__```

[2018-03-24 17:35] karpierz commented on #1030
When do you plan to release (and publish on pypi) at least RC version of scapy that will contain all things from current TODO ?

[2018-03-24 18:19] #1199 closed

[2018-03-24 18:19] #1242 closed

[2018-03-24 18:22] #1171 closed

[2018-03-24 18:33] guedou commented on #1030
@p-l- merged all of them except #1269 as I prefer renaming the fragment field.

v2.4.0 could happen next Monday.

[2018-03-24 20:59] karpierz commented on #1030
#1269 is fixed and is ready for merge to the master.

[2018-03-24 23:32] #1249 closed

[2018-03-25 11:16] karpierz commented on #1030
#1285

[2018-03-25 15:16] LennyJ commented on #1087
I'm encountering the same issue.

I used tcpdump to generate **two .pcap files**. One contains NTP packets, the other doesn't.

Calling scapy's session() function **works** for the .pcap file **without** NTP packets.
Calling scapy's session() function **does NOT work** for the .pcap file **with** NTP packets.

The following error is thrown:
`TypeError('issubclass() arg 1 must be a class',), None)`

[2018-03-25 15:32] gpotter2 commented on #1030
I always find bugs at the last second, here are critical ones:
https://github.com/secdev/scapy/pull/1284 https://github.com/secdev/scapy/pull/1283
This one is quite important, as it's part of the Python 3 / Python 2 compatibility, and updates the notebooks
https://github.com/secdev/scapy/pull/1286

[2018-03-25 15:32] LennyJ opened #1287 "cls argument in issubclass() of ntp.py must be a class"
I'm starting a new issue that is a duplicate of #1087
That issue got closed and I wasn't sure my comment on it would still be noticed.

[2018-03-25 15:35] gpotter2 commented on #1287
Linked to https://github.com/secdev/scapy/issues/1087#issuecomment-375977982

Hi!

Please provide some examples / pcaps / anything that is related to your issue or crashes, so that we can help you.

Please also provide your python version and scapy version (for the latter, if you are not using the latest GitHub one, please download it)

Thanks!

[2018-03-25 16:03] LennyJ commented on #1287
I found an online example .pcap that produces the same error.
The pcap file can be downloaded via the [Wireshark Website](https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=NTP_sync.pcap)

`pcap = rdpcap(pcap_file_path)`
`sessions = pcap.sessions()`
should be enough to reproduce the error.

I am using Python version:
`3.5.3`
I am using Scapy version:
`2.4.0rc5`

[2018-03-25 16:05] karpierz commented on #1030
#1288

[2018-03-25 16:24] guedou commented on #1087
This is fixed in current development version. Could you give it a try ?

[2018-03-25 16:25] karpierz commented on #1287
Already fixed. Try to use current master.

[2018-03-25 17:02] LennyJ commented on #1287
The current master does indeed work correctly.
I had Pycharm managing my packages. While I was using version 2.4.0rc5 it wasn't the latest build corresponding to master.

Thanks a lot :)

[2018-03-25 17:02] LennyJ commented on #1087
It works, thank you :)

[2018-03-25 17:38] karpierz commented on #1287
...the difference between rc5-1 and rc5-76 can be significant ;).

[2018-03-25 17:41] gpotter2 commented on #1287
Hehe, if you keep adding stuff (I'm also a culprit), we won't get 2.4.0 soon ^^

[2018-03-25 17:46] LennyJ commented on #1287
Yes, you are right. I should have checked the exact version more thoroughly.
I apologize for the inconvenience :)

[2018-03-25 17:55] karpierz commented on #1287
@gpotter2 I am from the beginning only "adding" stuff mostly for achieve my/our customers dream named FBC ;)

[2018-03-25 19:34] karpierz commented on #1287
@LennyJ Could you please close this issue?

[2018-03-25 20:42] vklimmek opened #1289 "sniff()ed packets do not contain Dot1Q - using libpcap, exception occurs"
Linux, python3.4/python3.6
Packets, that are Dot1Q vlan tagged on wire, are not sniffed with Dot1Q tag. Due to that, I used:

conf.use_pcap = True
import scapy.arch.pcapdnet
pkt = sniff(iface="lan3", count=1)

Got:
<L2pcapListenSocket: read packets at layer 2 using libpcap>
Traceback (most recent call last):
  File "./test_vk.py", line 9, in <module>
    pkt = sniff(iface="lan3", count=1)
  File "

[2018-03-25 21:59] #1287 closed

[2018-03-26 06:40] guedou commented on #1289
Thanks for the report. Which version of Scapy and which pcap Python modules are you using ?

[2018-03-26 07:19] karpierz commented on #1030
#1290 (Fix PY3 incompatibilities)

[2018-03-26 10:17] guedou commented on #1030
Let’s make v2.4.0 happen Tuesday!

Please add and check the necessary PR. I will have a look at them today. Everything not ready won’t make to v2.4.0.

[2018-03-26 12:31] g-mahieux commented on #1270
No suggestion/feedback? Should I just submit a PR?

[2018-03-26 12:58] guedou commented on #1270
We are busy with the 2.4.0 imminent release. It is currently better to submit a PR and discuss it.

[2018-03-26 16:16] guedou commented on #1030
Let's keep #1286#1292 for the next release!

Concerning #1291 and #1288 if @gpotter2 agrees with the changes I will merged them before v2.4.0. They are not critical for Scapy core features.

[2018-03-26 19:09] karpierz commented on #1030
About #1296. FYI Sorry but at the next release I will not be available :(. (of course a branch still will be exist).

[2018-03-26 19:34] karpierz commented on #1030
I fully agree to #keep both #1292 and #1286 for the next release.
So only #1228 has to be considered and merged.

[2018-03-26 19:41] guedou commented on #1030
I rather do v2.4.0 tomorrow, and have a look at #1288 and #1292 during the week as they are not critical.

[2018-03-26 19:42] karpierz commented on #1030
Excellent :)

[2018-03-26 21:37] vklimmek commented on #1289
I currently use scapy version 2.4.0rc5.dev64 (https://github.com/secdev/scapy)

pcapy (0.11.1)

net-libs/libpcap
   Latest version available: 1.8.1-r2

Python 3.4.6 (default, Mar 23 2018, 03:41:33)
[GCC 5.4.0] on linux
or
Python 3.6.1 (default, Mar 11 2018, 12:43:54)
[GCC 5.4.0] on linux

[2018-03-26 22:56] gpotter2 commented on #1289
The bug is a well-known pcapy bug.
https://github.com/CoreSecurity/pcapy/pull/22
The function is still unimplemented in the latest releases, so we have not implemented it in scapy.

[2018-03-27 00:10] karpierz commented on #1030
#1294 (critical when when we have different versions of python installed.)

[2018-03-27 07:53] karpierz commented on #1030
FYI about #1292.
Sorry but at the next release I will not be available :(. (of course a branch still will be exist
and will be available for merge).

I withdrew editing/cosmetic changes, which made the fix trivial and obvious.

[2018-03-27 09:11] guedou commented on #1030
@karpierz we decided to go for v2.4.0 right now (ae348f8611529fe20dcd703e2bd37f20322c4535).

[2018-03-27 09:19] karpierz commented on #1030
My request is only about #1294. It is really annoying for our users and makes real problems (another python is launched than expected). Sorry for delay of reporting it :(.

[2018-03-27 09:44] guedou commented on #1030
@karpierz  Don't worry we will merge it =) We had to release it to move forward. You made an amazing job at making this v2.4.0 release better. Thanks a lot !

[2018-03-27 09:45] guedou commented on #1030
I just tagged v2.4.0 and pushed it to pipy.

We would like to thank all the contributors for their work on v2.4.0 !

[2018-03-27 09:45] #1030 closed

[2018-03-27 09:51] guedou commented on #1280
Fixed by #1288 Thanks @karpierz !

[2018-03-27 09:51] #1280 closed

[2018-03-27 09:51] karpierz commented on #1030
Uff.. Thanks a lot for merge #1294  :)
PS: Please imagine a hundreds of users that reports "me":
"Why Python3.X is launched (and scapy from it) when I directly use C:\Python27\Scripts\scapy" ?
Horrible ;)

[2018-03-27 10:14] p-l- commented on #657
@guedou pressed the "release" button for 2.4.0, so I guess this can be considered fixed :)

Thanks a lot to everybody involved in this great project!

[2018-03-27 10:14] #657 closed

[2018-03-27 10:58] p-l- commented on #1030
@karpierz I do not like this kind of comments. I'm sorry if you're upset, but we are all doing our best here. So please try to keep your sarcasm for yourself.

[2018-03-27 11:08] karpierz commented on #1030
My comment?. Sarkazm? It is not a sarcasm.
It was just an innocent joke from normal company's users word :).
I cannot believe that it could have been treated differently.

[2018-03-27 11:26] karpierz commented on #1030
But ok, Now I really "upset" (means I'm just sad).
It's time to go "rest" (especially since I have not slept a lot the last 3 nights).
Goodbye and thanks for cooperation and of course I thank you very much and I am very grateful for this version of the scapy.

[2018-03-27 11:32] Evilmass opened #1296 "Hope to add monitor ssid function"
**packet32.h**

    struct _PACKET_OID_DATA {
        ULONG Oid;                  ///< OID code. See the Microsoft DDK documentation or the file ntddndis.h
                                    ///< for a complete list of valid codes.
        ULONG Length;               ///< Length of the data field
        UCHAR Data[1];              ///< variable-lenght field that contains the information passed t

[2018-03-27 11:38] p-l- commented on #1030
Sorry if that was a joke, and have a good night ;-)

[2018-03-27 17:01] gpotter2 commented on #1296
Hi!
Could you elaborate what you mean, please? Wasn't able to guess your question from that piece of code :/

Thanks!

[2018-03-27 17:21] gpotter2 opened #1297 "Npcap: OEM request"
Hi,
We are currently running our Appveyor tests with a with an old version of Npcap, which used to support the /silent install.

I've seen on their license page:

https://github.com/nmap/npcap/blob/master/LICENSE

That we were theoretically able to ask them for a way to get it installed on the Appveyor servers.

I asked feydor (npcap team member) a few times and got no answer... It would be great

[2018-03-27 21:32] sipian opened #1298 "Scapy not sniffing packets on running code in python file"
When I am sniffing with scapy from `sudo python3` interpreter

    from scapy.all import *
    packets = sniff(iface="enp7s0", filter="icmp", count=10, prn=lambda x:x.sprintf("{IP:%IP.src% -> %IP.dst% :: %IP.seq% \n}"))
I am getting the following output of prn,<br>
\<My-IP\> -> 172.217.26.174 :: 331
172.217.26.174 -> \<My-IP\> :: 331
\<My-IP\> -> 172.217.26.174 :: 332
172.217.26.174 -> \<My-IP\> :

[2018-03-28 02:00] Evilmass commented on #1296
@gpotter2
i mean, can scapy monitor network adaptor's SSID from ndis drivers?

[2018-03-28 05:26] guedou commented on #1298
You need to print the output of sprints. Please read the online help.

[2018-03-29 07:01] #1298 closed

[2018-03-29 07:02] guedou commented on #1297
@phil777 got a positive answer by email =)

[2018-03-29 07:02] #1297 closed

[2018-03-29 07:04] guedou commented on #1296
It cannot actually do that. Unless you explain a legitimate use, it probably never will.

[2018-03-29 07:04] #1296 closed

[2018-03-29 07:06] guedou commented on #1252
Close due to no activity. Please reopen if you can answer our queries.

[2018-03-29 07:06] #1252 closed

[2018-03-29 10:13] polybassa opened #1299 "How can I make a unit-test dependant on python3 with tox"

[2018-03-29 10:13] polybassa commented on #1299
Since the CI-environment changed to tox, some of my unit-tests are failing, because I can not make them dependant on either python2 or python3

[2018-03-29 12:09] guedou commented on #1299
What is your exact issue? You can test the Python flavour using `six.PY2` or `six.PY3`.

For example, see the output of `git grep six.PY test/*.uts`.

[2018-03-29 12:17] guedou commented on #1026
The goal is to accept formats from [RFC5156](https://tools.ietf.org/html/rfc5156):
- IPv4-Mapped Addresses: `::FFFF:0:0/96`
- IPv4-Compatible Addresses: `::<ipv4-address>/96`

That will be more than enough if you can implement it to get similar results as
`[socket.inet_pton(socket.AF_INET6, ip6) for ip6 in ["::1.2.3.4", "::ffff:1.2.3.4"]]`

Please don't forget to add unit tests.

[2018-03-29 16:35] g-mahieux commented on #1270
Will do, thanks!

[2018-03-29 16:35] #1270 closed

[2018-03-29 22:38] dhankook opened #1301 "VarLenQField Example Broken"
At [http://scapy.readthedocs.io/en/latest/build_dissect.html#example-variable-length-quantities](http://scapy.readthedocs.io/en/latest/build_dissect.html#example-variable-length-quantities), class `VarLenQField` is defined as a subclass of `Field`.

Any attempt to instantiate VarLenQField results in:
`AttributeError: 'VarLenQField' object has no attribute 'fld'`

The offending line is:
`self.fld =

[2018-03-30 08:29] guedou commented on #1301
Good catch! This definition is now incorrect and we did not update the documentation, the `fld` field must be defined in the `__slots__` list:
[code]

Can you provide a pull-request?

[2018-03-30 08:47] guedou commented on #1281
It will be more consistent to output the result of subprocess to logging. Do you want to submit a PR?

[2018-03-30 15:04] dhankook commented on #1301
I have done so, my first ever, so let me know if I didn't do it correctly.  Thanks

[2018-03-30 15:40] guedou commented on #1301
Fixed byt #1302

[2018-03-30 15:40] #1301 closed

[2018-03-30 20:38] yang-dev commented on #750
[code]

The man page for srloop is so vague

[2018-03-30 21:53] Noslenesilv commented on #1026
been checking some stuff and you want the same result as  [socket.inet_pton(socket.AF_INET6, ip6) for ip6 in ["::1.2.3.4", "::ffff:1.2.3.4"]] but when inet_pton is called but that if:else statment is a workaround which will disappear ?!

[2018-04-01 15:35] guedou opened #1307 "pypy based tests don't use cryptography"
It seems that the `cryptography` module supports pypy. We can try to remove this line https://github.com/secdev/scapy/blob/master/.travis/test.sh#L65 from the build system.

[2018-04-02 23:49] mkandala commented on #277
@gpotter2 I am still seeing the read_routes import error. I am using scapy2.3.3.

[2018-04-03 03:56] PorscheMonty opened #1309 "2.4.0-rc5 Unusable in 32-bit Windows XP SP3"
Hello there. This is what I get as soon as I run_scapy:

"WARNING: No match between your pcap and windows network interfaces found. You probably won't be able to send packets. Deactivating unneeded interfaces and restarting Scapy might help. Check your winpcap and powershell installation, and access rights.

WARNING: No default IPv4 routes found. Your Windows release may no be supported and you ha

[2018-04-03 05:51] gpotter2 commented on #1309
Hello !

Could you please report the result of the following commands, launched from scapy’s Shell:

[code]
[code]

Very sorry for the inconvenience: we have been doing many changes to the routing system recently, to support IPv6, windows 10... and could not test it on windows XP

[2018-04-03 07:13] polybassa commented on #1299
Thanks

[2018-04-03 07:13] #1299 closed

[2018-04-03 09:08] p-l- commented on #277
@mkandala please upgrade to 2.4.0, and open a new issue if the bug still exists after that.

[2018-04-03 19:15] gpotter2 commented on #1309
Thanks for submitting !
It has been fixed in https://github.com/secdev/scapy/pull/1314

[2018-04-03 21:10] PorscheMonty commented on #1309
![scapy](https://user-images.githubusercontent.com/10228056/38276023-4b2e0e2e-3783-11e8-8d9f-cc03ba8e5535.png)
Up and running, guys!
Thank you so much.

[2018-04-04 13:46] #1309 closed

[2018-04-04 19:16] gpotter2 opened #1318 "L2ListenTcpdump fail"
The `FIXME_py3` flag was lost during tox migration, explaining why we see such failures

[code]

Completly forgot about it, this ages from python 3 migration.

I cannot reproduce it on my Windows machine :/ Should be able to in a week.
Would be great if someone could investigate in the mean time

[2018-04-04 19:39] hheennrryy21 opened #1319 "IP alias route issue"
On Linux, when having an interface with two ip addresses, scapy is not able to map the addresses correctly. Therefore, when trying to connect to some foreign address, scapy chooses the wrong source address.

**Procedures:**

1. Run this

`conf.route`

2. Output
[code]
If you look at eth0, it has the following configuration.
[code]

This is incorrect. It should be like so.

[code]

ip addr results

[2018-04-04 20:06] guedou commented on #1319
Which Scapy version are you using? Could you try again with 2.4.0 or current master ?

[2018-04-04 21:37] hheennrryy21 commented on #1319
Hi guedou, thank you for responding. I am using scapy-2.4.0.  I just checked and I have the latest from git. scapy (2.4.0.dev33).

[2018-04-04 21:47] hheennrryy21 commented on #1319
It looks like scapy is using the first address the interface was configured with for the "Output IP" in conf.route. The additional IP addresses are ignored.

[2018-04-05 06:50] guedou commented on #1319
We fixed a similar issue last year. Could you provide:
- your kernel version
- the output of /proc/net/route

[2018-04-05 07:39] guedou commented on #1318
#1320 will temporary fix the failing test. You can revert it if you find a proper fix.

[2018-04-05 09:11] #976 closed

[2018-04-05 18:55] #1219 closed

[2018-04-08 09:34] guedou commented on #1319
IP aliasing is an obsolete Linux feature (https://www.kernel.org/doc/Documentation/networking/alias.txt). You need to be careful when using them =)

If I understand correctly, you used `ip addr add 192.168.3.56/24 dev eth0` without the `label` argument. If correct, I can try to investigate and find a fix for Scapy.

[2018-04-08 17:13] guedou commented on #1289
@vklimmek PR #1315 fixes your issue. I still need to work on the unit tests, but the patch works fine when using pcapy >= 0.11.3

[2018-04-08 17:38] hheennrryy21 commented on #1319
Yes exactly. I used IP alias without the label argument. Thanks for the help!

[2018-04-09 04:09] Sean2379607955 commented on #1272
RTP is easy to decode.
But for SIP packet, there is text with split character, like \: \; \r \n.
I not found split character method in document of adding new protocol.
Can you help for sip decoding?

[2018-04-09 04:12] Sean2379607955 opened #1323 "[Enhancement]How to add sip protocol layer in scapy?"
I hope to add sip and rtp layer in scapy.
RTP is easy to decode.
But for SIP payload, there is text with split character, like : ; \r \n.
I not found split character method in document of adding new protocol.
Can you help for sip decoding?

[2018-04-09 10:33] g-mahieux opened #1324 "Issue when dissecting IP() packet"
Hello,

This issue came up while testing PR #1310, but is apparently unrelated to it.

Executing:
[code]
By running Scapy directly:
[code]

In the travis test environment:
[code]
Not sure how to debug further, thank you for your help.

[2018-04-09 12:11] g-mahieux commented on #1324
Indeed, this is a "dummy" packet extracted from the MACsec specification (reference test vectors) and they apparently did not care enough to use valid IP packets as payloads.
If this behavior is expected when the IP length field is incorrect, then please feel free to close this issue, and sorry for the trouble. :-)

[2018-04-09 20:53] speakinghedge commented on #1323
RTP is already part of scapy. you can find it here: *scapy/layers/rtp.py*

I not found split character method in document of adding new protocol.

The way SIP represents the data is completely different from the way scapy works.

Scapy focuses on binary protocols build from a set of atomic types (so they are easy to model, parse and generate).

SIP is based entirely on text - and in scapy text fin

[2018-04-09 21:51] gpotter2 commented on #1323
@speakinghedge You’re absolutely right.

Scapy may, in a quite future, support a few text protocols such as basic html, sip or rtc, but it would require brand new special text dissecting mechanics (to be reusable), which is not on the todo list for now.

[2018-04-10 01:27] bsrivalli3012 opened #1325 "getattr() in volatile.py throws an AttributeError when str() or hexdump() is used on fuzz packet"
Hello,
I have recently installed Scapy to use it to fuzz a CoAP server. I found a few threads related to this by @bsmelo  and tried to recreate the results by building the fuzz packets the exact same way. But when I try to convert it into a string using str(), I get an AttributeError when the getattr() function in volatile.py is called.
I have installed the latest version of scapy from the secdev/

[2018-04-10 01:34] bsrivalli3012 commented on #1325
@bsmelo @guedou Marking you on this issue since I have been following the issues related to fuzzing CoAP server using scapy that you have resolved previously. Thanks in advance :)

[2018-04-10 03:06] tianxiawuzhe opened #1326 "haslayer() on xp return false and packet with large HTTP data and mapping http request/response"
Using python3.4 and latest scapy-matster.
When I try to cap HTTP data with scapy_http's HTTPRequest/HTTPResponse, i found :
1. using packet.haslayer(HTTPRequest), return False on winxp sp3, but on Windows 7 is True.

2. could not cap with large HTTP data, when trying cap large post request, it will:
Detail : Traceback (most recent call last):
  File "HelloWorld.py", line 185, in pkt_parser
  File

[2018-04-10 03:48] suryax04 opened #1327 "I'm not receiving any packets with sr1()"
I'm on a armv7 nexus 5..my iface = "rmnet0"

Here's what I did :

s = IP()

s.src = "My Ip"

a.dst = "Destination IP"

The destination IP address is a random IP address that I picked.

sr1(src,dst)

Sent 1 packet..

It gives me 0 answers but 1000+ packets received..

What am I doing wrong ?

Thank you .

[2018-04-10 06:29] guedou commented on #1326
Please provide a complete, small and functional example of your issue.

[2018-04-10 06:30] guedou commented on #1325
Please upgrade to the latest Scaly version. It seems that you are using an old one.

[2018-04-10 06:46] guedou commented on #1327
You are not using Scapy correctly. Please have a look a the documentation.

[2018-04-10 06:46] #1327 closed

[2018-04-10 06:56] #1323 closed

[2018-04-10 07:54] p-l- commented on #1326
I think this issue is related to [scapy-http](https://github.com/invernizzi/scapy-http), not Scapy.

[2018-04-10 07:54] #1326 closed

[2018-04-10 08:33] suryax04 commented on #1327
Okay..I'll check it out thoroughly.. thank you .

[2018-04-10 10:00] louisabraham commented on #989
@SkypLabs Your post is about stop_filter.

A little observation: one could also use stop_callback which is called more often.

Apart from that, I wrote a custom version of sniff to address this issue optimally (using select). Feel free to use it.
It should also be possible to integrate it in the code, but I don't know if it is a common issue.

[code]

[2018-04-10 10:02] p-l- commented on #1326
Actually, I see that you had already opened invernizzi/scapy-http#37, so this issue should be handled there.

[2018-04-10 10:12] tianxiawuzhe commented on #259
using sniff/prn function, how to get a complete packet from prn's parameter? or other ways?

[2018-04-10 11:17] SkypLabs commented on #989
No, using `stop_filter` was a design choice for "letting the time to the sniff function to terminate its job by itself, after which the sniffing thread will be force-stopped and its socket properly closed from the main thread.". My post is not about `stop_filter` but about a way to stop the sniffing loop programmatically at any time.

`stop_callback` is not part of Scapy but has been added to the

[2018-04-10 14:31] yangyinqi opened #1329 "Mac address abnormal in Ether layer"
Hello,
I am trying to analyse packet using **NetfilterQueue**. But when I print packet info in Ether layer with function `mysummary()`, the result was in mess.
The real mac is, e.g.,8C:70:5A:8D:B2:90 in my pc, and 08:00:27:8C:55:A0 in my virtual machine.Yet it becomes like this in scapy output:
[code]
This also appears in other function like `show()`.
Environment:
ubuntu server 16.04
python3.5

[2018-04-10 15:01] yangyinqi commented on #1329
I find it correct in function `sniff()` without nfq. MAC info maybe changed in nfq, and I will dig it later.

[2018-04-10 15:01] #1329 closed

[2018-04-10 16:42] bsrivalli3012 commented on #1325
Thanks for the prompt response. I have installed scapy using the pip2 command. Therefore I am assuming it is the latest development version that is being installed. I have also upgraded it just to be sure using git pull. I get the same error as before.
![attributeerror](https://user-images.githubusercontent.com/33404977/38570604-428facb2-3cbc-11e8-9d03-66d5621503af.png)

[2018-04-10 17:01] bsmelo commented on #1325
I can't reproduce your issue either, could you please:
- Check your scapy version?
[code]
- Try from outside the scapy folder?
[code]

[2018-04-10 17:18] bsrivalli3012 commented on #1325
Hey,
Scapy version : 2.4.0
I have tried running it from outside the scapy folder. Same error occurs.
I am not sure if there are any support modules that need to be installed along with scapy. Do you think I am missing any python packages needed ?

[2018-04-10 17:58] gpotter2 commented on #1325
Fixes

[2018-04-10 19:06] #1325 closed

[2018-04-10 19:45] bsrivalli3012 commented on #1325
Thanks a lot, everyone :) The issue is resolved.

[2018-04-12 18:07] ZackAlfakir opened #1334 "Create packet with raw bytes as str"
I was wondering if this is a possibility with scapy.

I have a string that looks like so:
`000026002f4000a0200800a0200800001b2db7ec0100000010308f09c000cb000000c300cb01c4007c0018742eb7cf16c3cabcb2` (type str)

And I want to convert it into a scapy packet. I know I can do this with a string that looks like this:
`b'\x00\x00&\x00/@\x00\xa0 \x08\x00\xa0 \x08\x00\x00\x1b-\xb7\xec\x01\x00\x00\x00\x100\x

[2018-04-12 18:54] IamIdan commented on #1248
Sorry for the delay :)
self.routes value is:
`<type 'list'>: [(4294967295L, 4294967295L, '0.0.0.0', <NetworkInterface Realtek PCIe FE Family Controller {C6AD049F-F868-4804-9DF9-1B44CBF26796}>, ''), (4294967295L, 4294967295L, '0.0.0.0', <NetworkInterface LogMeIn Hamachi Virtual Ethernet Adapter {CF7A25AB-83F8-4007-94B6-1E71A930DCE6}>, 'fe80::d857:7790:cf6b:b18d'), (4294967295L, 4294967295L, '0.0.0.

[2018-04-12 21:25] ZackAlfakir commented on #1334
In python2 this is possible with:
[code]

However, this does not seem to work in Python3:

[code]

[2018-04-12 21:47] ZackAlfakir commented on #1334
The solution was to do the following:

[code]

[2018-04-12 21:51] ZackAlfakir commented on #1334
Reopened just because I wanted to know if this is expected behavior or not.

[2018-04-12 22:45] gpotter2 commented on #1334
This is python 3 specific, not scapy. (Not related to scapy)

Have a look at `scapy.compat.py` Whig contains useful compatibility functions such as `hex_bytes`

Regards,

[2018-04-13 03:31] adrian62 opened #1335 "sniff not properly reading QinQ"
I use the sniff function to listen on a trunk interface that receives a mix of tagged (VLAN 802.1q) frames and double-tagged (QinQ) frames.

    Ether / Dot1Q / 198.18.16.9 > 224.0.0.5 ospf / Raw
    Ether / Dot1Q / 198.18.16.9 > 224.0.0.5 ospf / Raw
    Ether / Dot1Q / 198.18.16.9 > 224.0.0.5 ospf / Raw
    Ether / Dot1Q / 198.18.16.9 > 224.0.0.5 ospf / Raw
    Ether / Dot1Q / 198.18.16.9 > 224.0

[2018-04-13 06:09] #1334 closed

[2018-04-13 06:13] guedou commented on #1335
On Linux, Scapy can not currently sniff 802.1Q. It is an open issue #969 that we will fix. The best alternative is to sniff using the pcapy, see https://github.com/secdev/scapy/issues/1289

You want to use `p[Dot1Q] `or `p[Dot1Q:2]` to access the 802.1Q layers.

[2018-04-13 06:13] #1335 closed

[2018-04-13 19:54] gpotter2 opened #1339 "Scapy.net: create project ?"
What should we do about scapy.net?

There are different ways we could update the website:
- keep a text website
- make a fancy website, in the style of https://scrapy.org/ (obviously different, and surely not as promotable "fast and powerful" -_-, but smooth)

Tons of things should be updated, so i think it would be a good idea to create a Project with the TODO-list.

What's your opinion @guedou @

[2018-04-14 11:34] guedou commented on #1339
Our goal was to have a new fancy website when releasing v2.4.0. We are not exactly there =)

`scapy.net` is currently hosted on github pages and distributed thanks to Cloudflare. I would like to use a static web site generator like Jekyll or Hugo to obtain a result like:
- https://deanattali.com/beautiful-jekyll/
- https://themes.gohugo.io/kube/
- https://uppy.io

A nice and simple landing page ca

[2018-04-14 15:01] stacksreg123 opened #1341 "send packets not showing up in wireshark"
Hi here is my code:
[code]

I'm trying to spoof the destination IP and send it.
In console it keeps saying "1 Packet has been sent".
I cant see the packages on wireshark though.

[2018-04-14 19:02] guedou commented on #1153
Fix in #1342

[2018-04-14 19:02] #1153 closed

[2018-04-14 19:15] IdoBn opened #1343 "No /dev/bpf handle is available !"
I'm running on mac high sierra 10.13.4
after downloading from https://github.com/secdev/scapy/archive/v2.4.0.zip I unzipping and ran each of the following as root:
run_scapy, run_scapy2 and run_scapy_py3
within each repl I ran:
```send(IP(dst="2.2.2.2", src="1.1.1.1"))```
and the traceback was the same:
[code]

after looking at some of the past issues it appears similar to this one: [#1015](https:

[2018-04-14 20:51] guedou commented on #1341
Commenting `packet[0][1].dst = '192.168.0.5'` will likely make your example work. Please follow @gpotter2 advices and reopen this issue if needed.

[2018-04-14 20:51] #1341 closed

[2018-04-14 20:55] guedou commented on #1343
It is likely that you are running other softwares that opened BPF handles. Is the following fix works for you?
[code]

[2018-04-14 22:53] stacksreg123 commented on #1341
Ok thanks for the advice.
This is the updated code:
[code]

It seems to me that there is no chksm attribute to Ether; @gpotter2 ?

Well now I can see udp packets being sent on wireshark. On the target machine no packets arrive.

[2018-04-14 23:13] gpotter2 commented on #1341
It should be
[code]

[2018-04-15 16:11] mtihlenfield opened #1346 "FlagsField flag names containing "-" are inaccessible via dot notation."
#### Things to consider

1. Please check that you are using the latest scapy version, e.g. installed via:

   `pip install https://github.com/secdev/scapy`

2. If you are here to ask a question - please check previous issues and online resources, and consider using gitter instead: https://gitter.im/secdev/scapy

3. Please understand that **this is not a forum** but an issue tracker. The following

[2018-04-16 22:08] stacksreg123 commented on #1341
Ok with that code it works, somewhat..
For some reasons the same packets are sent many times over and over again. Its like it sends the same packets in a loop.

The full code is:
[code]

[2018-04-16 23:39] jayPare commented on #810
Having the same issue. Can we reopen it?
Windows 10 Pro 64 bits Version 1607
Scapy 2.4.0

Output of conf.route6:
`Destination  Next Hop  Iface  Src candidates  Metric`

Nothing else.

Don't know how to output IPv6 routing table, I'm entirely new to Scapy.

[2018-04-16 23:56] gpotter2 commented on #810
Hi !

Could you test with master (https://github.com/secdev/scapy/archive/master.zip)
then with https://github.com/secdev/scapy/pull/1348

Thanks !

[2018-04-17 00:03] jayPare commented on #810
Same behaviour on both of them, except I manage to get rid of the following message by reinstalling:
`WARNING: PyX dependencies are not installed ! Please install TexLive or MikTeX.`

[2018-04-17 00:14] gpotter2 commented on #810
Could you report the output of:

- from powershell:
[code]
- from scapy shell:
[code]
[code]
[code]
[code]

It will greatly help me understand the problem. Thanks !

[2018-04-17 00:29] jayPare commented on #810
[code]
[code]

Please note I willingly altered IPs and MACs.

[2018-04-17 05:29] guedou commented on #1341
Well, your code sends a packet every time it receives one.

[2018-04-17 10:16] gpotter2 commented on #810
Thanks!

To me, I was able to fix your bug using https://github.com/secdev/scapy/pull/1348 (I updated it since you have viewed it)

Could you retry please?

[2018-04-17 10:40] gpotter2 opened #1349 "Empty PyPi page"
We should fill:

https://pypi.org/project/scapy/

[2018-04-17 11:45] jayPare commented on #810
Working now! :D Thank you very much!

[2018-04-17 12:03] gpotter2 commented on #810
Yes, this is normal. Thanks for reporting !

[2018-04-17 12:04] gpotter2 commented on #810
Also, you may delete the above post, as it might contain some confidential information (IPv6 in the PowerShell query)

[2018-04-17 14:53] louisabraham commented on #989
@SkypLabs maybe I missed something, but I think your method doesn't actually quit the sniffer. It works only if you have a lot of packets. Try it with an impossible filter (like 'tcp port 12321'), and you will see it doesn't stop.

[2018-04-17 19:08] mkandala commented on #277
@p-l-  Thank you. It works now.

[2018-04-18 07:38] #1190 closed

[2018-04-18 19:01] SkypLabs commented on #989
Yes it does, even when there is no traffic (even with `tcp port 12321`). I wouldn't have posted an article about a solution to this issue if I wasn't sure about it. I'm not claiming it's the best solution ever though, just that it works well.

No worries :)

Well, I suppose we can debate about it for a long. I just prefer not to trigger a check every second :)

[2018-04-18 19:52] gpotter2 commented on #1349
@guedou @p-l- @phil777

[2018-04-18 19:53] gpotter2 opened #1353 "Web redirection"
We should redirect http://secdev.org/projects/scapy/ to https://scapy.net

@p-l- @guedou @phil777

[2018-04-18 22:00] phil777 commented on #1353
Done.

[2018-04-19 07:46] guedou commented on #1353
I am not sure that a HTTP redirect is the best solution as we might lose search engines referencing. Could you use a reverse proxy instead? See https://httpd.apache.org/docs/2.4/rewrite/proxy.html

[2018-04-19 07:46] #1353 closed

[2018-04-19 07:51] guedou commented on #1349
Invoking @phil777 on this one as I don't currently have the right to modify the project.

[2018-04-19 11:27] louisabraham commented on #989
Oh, I think I understand now, but I still don't agree.

I think that in your solution, the event doesn't do anything if the select doesn't receive any packet (and I think you agree). So it's just nice in most cases but does not solve anything in general.

I tested, and what your code does is closing a socket while select listens in a separate thread.
On macOS 10.12.6, it causes `OSError: [Errno 9]

[2018-04-19 19:04] #1274 closed

[2018-04-19 20:53] zwilcox opened #1356 "Sniff on all interfaces won't filter."
I'm attempting to sniff on all interfaces with some filtering.
`sniff(prn = lambda x: x.show(), filter='src host 10.0.1.1')
`
If I remove the filter with:
`sniff(prn = lambda x: x.show())
`Then I start sniffing on interfaces.
I know the filter is working because when I specify the interface, everything works:
sniffing works on the interface and is filtering on that interface.

`        sniff(iface

[2018-04-20 08:13] oycillessen commented on #1228
I think the radiotap is generate by only localhost ,is this right?

[2018-04-20 08:39] oycillessen opened #1357 "How can I know if a packet is a retry packet in scapy?"
Thanks for scapy , it saved me a lot of time [。]
Well, I have a question about how can i know if a packet is a retry packet in scapy?
I can only get this value in a Wireless frame header in scapy：FCfield= from-DS+retry+wep

[2018-04-20 09:43] oycillessen commented on #1357
Well....I know the value is pkt.FCfield.retry.

[2018-04-20 09:43] #1357 closed

[2018-04-20 10:36] gpotter2 commented on #1356
However, it is able to sniff multiple interfaces at the same time. Have a look at `help(sniff)`

[code]

[2018-04-20 10:41] gpotter2 commented on #1228
`RadioTap` is used on W-lan / wifi interfaces, as it’s the link layer used with it. It’s the lowest link layer as it contains multiple tags and stuff.

The WiFi interface might be cropping this layer, sometimes returning difrectly a “fake” `Ether()`, it even sometimes a `Dot11()` layer.

When you are sending / receiving a packet on the localist loop back interface, it uses `Loopback()`

[2018-04-20 14:49] ofull37 opened #1360 "name 'ByteField' is not defined in 'scapy/contrib/lldp.py'"
File "**/scapy/contrib/lldp.py", line 702, in LLDPDUGenericOrganisationSpecific
    ByteField('subtype', 0x00),
NameError: name 'ByteField' is not defined

#### Environment
- Scapy version: < scapy2.4.0 >
- Python version: < 3.6.3 >
- Operating System: < ubuntu16.04.4 >

[2018-04-20 14:53] gpotter2 commented on #1360
Hi,
That was fixed 20h ago :)
https://github.com/secdev/scapy/pull/1336
Please retry using master
`pip install git+git://github.com/secdev/scapy.git`

[2018-04-20 15:47] zwilcox commented on #1356
The documentation states:

Sniffing
We can easily capture some packets or even clone tcpdump or tshark. Either one interface or a list of interfaces to sniff on can be provided. If no interface is given, sniffing will happen on every interface

http://scapy.readthedocs.io/en/latest/usage.html?highlight=sniff

So sniffing should happen on every interface with something like:

`sniff(filter="arp")`

[2018-04-20 16:27] maxim-smirnov opened #1361 "Add SOCKS4/5 layer"
Is it possible to add SOCKS Proxies layer?

[2018-04-20 16:45] gpotter2 commented on #1361
Technically, for sure it is possible

[2018-04-20 16:47] maxim-smirnov commented on #1361
Can someone implement this stuff?

пт, 20 апр. 2018 г., 19:45 Gabriel Potter <notifications@github.com>:

[2018-04-20 17:21] #1360 closed, assigned to nobody

[2018-04-21 16:36] maxim-smirnov commented on #1361
Well, it's a lot of work here. I think, I'll try to do this.

[2018-04-24 15:05] #1281 closed

[2018-04-25 08:20] emacsuser123 opened #1367 "DNSRR problem: not able to populate rdata on type=TXT records properly"
#### Brief description

DNSRR stack does not allow rdata field to be populated properly when the type of record is TXT.

#### Environment

- Scapy version: 2.4.0
- Python version: 3.6
- Operating System: Ubuntu 17.10

#### How to reproduce

I'm trying to populate rdata in DNSRR (type=TXT), and it seems it only allows one 'subfield' to be populated.
The format for a TXT record is (as per it is bein

[2018-04-25 09:42] hyhilman opened #1368 "Having issues with count"
I'm writing some script to make simple icmp flood on ipv6 and ipv4 through wlan( and 6lowpan for future). And I'm going to write this script with scapy. IPv4 is good. but i get difference behaviour when I'm using interactive console(ipython) and python script with ipv6. when I'm execute this script i get following errors:
[code]

but when I write it with ipython i got success message.

I already m

[2018-04-25 10:47] zlatdev opened #1369 "RecursionError: maximum recursion depth exceeded upon get PacketList object from multiprocessing SimpleQueue"
#### Brief description
script execution interrupted with "RecursionError: maximum recursion depth exceeded". This happened when object PacketList is passed between processes of multiprocessing module.

< describe the main issue in one sentence >
RecursionError: maximum recursion depth exceeded
scapy/plist.py", line 81, in __getattr__
    return getattr(self.res, attr)

#### Environment

- Scapy ve

[2018-04-25 11:12] titusx-gmx-de opened #1370 "dissection of "PacketListField""
#### Things to consider

... checked.

#### Brief description

Dissection of "PacketListField" dont work correctly (I am about 70% shure)

#### Environment

- Scapy version: 2.4.0 (pip install)
- Python version: 2.7.12
- Operating System: Ubuntu 16.04 LTS

#### How to reproduce

[code]

#### Actual result

[code]

#### Expected result

[code]